<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/plan_add.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- 폰트어썸 불러오기 -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          rel="stylesheet">

    <!-- XEIcon 폰트 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet">

</head>
<body>

    <div class="background"></div>
    <div class="background2"></div>


    <div class="nav">

        <ul class="" style="list-style-type:none;">
            <li class="">
                <a class="logo" th:href="@{/}"><img src="/img/logo.png"
                                                    style="float: left; width: 63px; height: 58px; margin-left: 10px; background-repeat: no-repeat;"></a>

                <div class="nav-left"
                     style="float:left;   margin-left: 470px; margin-top: 19px;  font-size: 20px;  font-family: 'Roboto', sans-serif; font-weight: 500;">
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/}">HOME</a>
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/}">AIRPORT</a>
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/}">START PLAN</a>
                    <a class="" style="color:#4F54B4;"
                       th:href="@{/}">RECOMMEND</a>
                </div>

                <div class="nav-right"
                     style="float:right;    margin-right: 35px; margin-top: 27px;  font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 600;">
                    <a class="" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/question/list}">고객센터</a>
                    <a class="loginBtn" sec:authorize="isAnonymous()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/login}">로그인</a>
                    <a class="" sec:authorize="isAuthenticated()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/}">마이페이지</a>
                    <a class="" sec:authorize="isAuthenticated()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/logout}">로그아웃</a>
                    <a class="" sec:authorize="hasRole('ADMIN')" style="color:#4F54B4;"
                       th:href="@{/}">ADMIN</a>
                </div>
            </li>
        </ul>

    </div>

<div class="container">


    <div class="left-side">
        <div class="bbox">
            <h1 class="box">계획 생성하기</h1>
            <form data-aos="fade" id="planForm" method="post" th:action="@{/plan/addValid}" th:object="${plannerDTO}">
                <div class="label-box">
                    <label class="input-label" for="search-type">검색 유형</label>
                    <div class="search-title">
                        <select class="form-control" id="search-type" name="category" th:field="*{type}">
                            <option value="">미선택</option>
                            <option value="자유">자유</option>
                            <option value="힐링">힐링</option>
                            <option value="문화">문화</option>
                            <option value="쇼핑">쇼핑</option>
                            <option value="식도락">식도락</option>
                        </select>

                    </div>
                </div>

                <div class="inquiry-con">

                    <input class="input-content" readonly th:field="*{userEmail}" type="hidden">

                    <div class="label-box" style="position: relative;">
                        <label class="input-label">여행제목</label>
                            <div class="title" for="content"></div>
                            <div class="input-container">
                                <input class="input-content"
                                       th:field="*{content}"
                                       type="text">
                            </div>
                            <div th:errors="*{content}" class="error" th:if="${#fields.hasErrors('content')}"></div>
                    </div>


                    <div class="label-box" style="position: relative;">
                        <label class="input-label">여행 시작일</label>
                            <input class="input-content" th:field="*{startDate}" type="date">
                            <div th:errors="*{startDate}" class="error"
                                 th:if="${#fields.hasErrors('startDate')}"></div>
                    </div>

                    <div class="label-box" style="position: relative;">
                        <label class="input-label">여행 종료일</label>
                            <input class="input-content" th:field="*{endDate}" type="date">
                            <div th:errors="*{endDate}"
                                 th:if="${#fields.hasErrors('endDate')}" class="error"></div>
                    </div>

                    <div class="label-box" style="position: relative;">
                        <label class="input-label">여행 인원</label>
                            <div class="title" for="numberOfPeople"></div>
                            <input class="input-content" th:field="*{numberOfPeople}" type="number">
                            <div  th:errors="*{numberOfPeople}" class="error"
                                 th:if="${#fields.hasErrors('numberOfPeople')}"></div>
                    </div>

                    <span th:if="${#fields.hasErrors('endDateAfterStartDate')}" th:errors="*{endDateAfterStartDate}"></span>

                    <div class="label-box">
                        <span class="btn-container">
                            <input class="btn" name="submit" type="submit" value="작성완료">
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>






    <div class="right-side">
        <!-- 크기 조절을 위해 테스트 -->
        <div th:if="${flightInfo == null}">
            <img class="right-side-image" src="/img/side.png">
        </div>
        <div th:if="${flightInfo != null}" class="">
            <div class="flightPriceBox" >
                <div class="flightPriceRoute" th:text="|${flightInfo.routes[0].departureAirport} &#x2192; ${flightInfo.routes[0].arrivalAirport}|"></div>
                    <div class="flight-box-wrapper">
                        <div class="departMain">
                            <span class="mainDate" th:text="${flightInfo.departureDate}"></span>
                            <img class="mainAirlineImage" th:src="${flightInfo.routes[0].airlineImg}">
                            <table><tr>
                                <td><div class="depart">
                                    <span th:text="${flightInfo.routes[0].departureTime}"></span>
                                    <span th:text="${flightInfo.routes[0].departureAirport}"></span>
                                </div></td>
                                <td><div class="center-content">
                                    <span class="duration" th:text="${flightInfo.routes[0].duration}"></span><img src="/img/flight/plane.png">
                                </div></td>
                                <td><div class="arrive">
                                    <span th:text="${flightInfo.routes[0].arrivalTime}"></span>
                                    <span th:text="${flightInfo.routes[0].arrivalAirport}"></span>
                                </div></td>
                            </tr></table>
                        </div>
                        <div class="departMain">
                            <span class="mainDate" th:text="${flightInfo.arrivalDate}"></span>
                            <img class="mainAirlineImage" th:src="${flightInfo.routes[1].airlineImg}">
                            <table><tr>
                                <td><div class="depart">
                                    <span th:text="${flightInfo.routes[1].departureTime}"></span>
                                    <span th:text="${flightInfo.routes[1].departureAirport}"></span>
                                </div></td>
                                <td><div class="center-content">
                                    <span class="duration" th:text="${flightInfo.routes[1].duration}"></span><img src="/img/flight/plane.png">
                                </div></td>
                                <td><div class="arrive">
                                    <span th:text="${flightInfo.routes[1].arrivalTime}"></span>
                                    <span th:text="${flightInfo.routes[1].arrivalAirport}"></span>
                                </div></td>
                            </tr></table>
                        </div>
                    </div>
                    <div class="amountBox">
                        <span>항공기 이용권 : </span><span class="amount" th:text="| ₩${flightInfo.price}|"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>