<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/plan_list.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>리스트</title>


</head>
<body>

<script>
    // 버튼 클릭 이벤트 핸들러(로그인 안했을경우)
    document.addEventListener('DOMContentLoaded', function () {
        // JavaScript 코드
        var heartLogin = document.getElementById('heartLogin');
        if (heartLogin) {
            heartLogin.addEventListener('click', function (event) {
                Swal.fire({
                    title: '로그인 하시겠습니까?',
                    text: '찜등록은 로그인 기능입니다.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '확인',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // 확인 버튼이 클릭
                        Swal.fire('확인', '로그인 페이지로 이동합니다.', 'success').then(() => {
                            window.location.href = '/login';
                        });
                    } else if (result.isDismissed) {
                        // 취소 버튼 클릭 또는 모달을 닫은 경우
                        Swal.fire('취소됨', '작업이 취소되었습니다.', 'error');
                    }
                });
            });
        }
    });

    function buttonHeart(planId) {
        var buttonId = 'heartButton_' + planId;
        var button = document.getElementById(buttonId);

        // AJAX 요청을 보냅니다.
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/plan/vote/' + planId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function () {
            if (xhr.status === 200) {
                var img = document.getElementById('heartImage_' + planId);
                var currentSrc = img.src;

                // 이미지 경로를 변경하거나 토글합니다.
                if (currentSrc.includes('PlanUnlike.png')) {
                    img.src = '/img/PlanLike.png'; // 이미지를 좋아요 이미지로 변경
                } else {
                    img.src = '/img/PlanUnlike.png'; // 이미지를 다시 좋아요하지 않음 이미지로 변경
                }
            } else {
                console.error('서버 오류');
            }
        };

        xhr.send();
    }


</script>


<div class="background"></div>
<div class="background2"></div>


<div class="container">
    <button id="backToTop" title="Go to top">Top</button>
    <div class="nav">
        <ul class="" style="list-style-type:none;">
            <li class="">
                <a class="logo" th:href="@{/}"><img src="/img/logo.png"
                                                    style="float: left; width: 63px; height: 58px; margin-left: 10px; background-repeat: no-repeat;"></a>
                <div class="nav-left"
                     style="float:left;   margin-left: 440px; margin-top: 19px;  font-size: 20px;  font-family: 'Roboto', sans-serif; font-weight: 500;">
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/flightResult}">AIRPORT</a>
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/plan/add}">START PLAN</a>
                    <a class="" style="margin-right: 50px; color:#4F54B4;"
                       th:href="@{/touristAttraction/list}">ATTRACTIONS</a>
                    <a class="" style="color:#4F54B4;"
                       th:href="@{/plan/list}">PLAN LIST</a>
                </div>

                <div class="nav-right"
                     style="float:right;    margin-right: 35px; margin-top: 27px;  font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 600;">
                    <a class="" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/notice/list}">공지사항</a>
                    <a class="" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/question/list}">고객센터</a>
                    <a class="loginBtn" sec:authorize="isAnonymous()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/login}">로그인</a>
                    <a class="" sec:authorize="isAuthenticated()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/myPage}">마이페이지</a>
                    <a class="" sec:authorize="isAuthenticated()" style="margin-right: 20px; color:#4F54B4;"
                       th:href="@{/logout}">로그아웃</a>
                    <a class="" sec:authorize="hasRole('ADMIN')" style="color:#4F54B4;"
                       th:href="@{/user/list}">ADMIN</a>
                </div>
            </li>
        </ul>

    </div>

    <div id="h1"><h1>프로 여행러들의 계획을 담아보세요!</h1></div>
    <div class="card-container">
        <div class="card-list" th:each="item : ${planList}">

            <a th:href="@{|/plan/detail?planId=${item.planId}|}">
                <div class="image-container">
                    <div class="left-side">
                            <img class="left-image" id="content1" th:src="@{|${item.imagePath}|}"/>
                            <img class="right-image" id="content2" onerror="this.src='/preview/map_basic.png'"
                                 th:src="@{|/preview/${item.planId}.png|}"/>
                        </div>


                    <div class="right-side">
                        <div id="content3">
                            <span th:if="${#authorization.expression('isAuthenticated()')}">
                            <a href="javascript:void(0);" th:id="'linkButton_' + ${item.planId}"
                               th:onclick="'buttonHeart(' + ${item.planId} + ')'">
                                <button class="heart-button">
                                    <img class="heart-img"
                                         th:id="'heartImage_' + ${item.planId}"
                                         th:src="${item.voter.contains(#authentication.principal.username) ? '/img/PlanLike.png' : '/img/PlanUnlike.png'}">
                                </button>
                            </a>
                                <div class="theme1">theme</div>
                            <div th:text="${item.type}" class="theme"></div>
                            <div th:text="${item.content}" class="title"></div>

                        </span>

                            <span th:unless="${#authorization.expression('isAuthenticated()')}">
                            <a href="javascript:void(0);" id="heartLogin">
                                <button class="heart-button">
                                     <img class="heart-img" src="/img/PlanUnlike.png">
                                </button>
                            </a>
                        </span>
                        </div>
                        <div id="content4">
                            <div class="trip-title">여행기간</div>
                        <div th:text="|${item.startDate} ~ ${item.endDate}|" class="period"></div>

                        <div id="moneySet"  >
                        <div data-th-text="|항공 : ${#numbers.formatInteger(item.flightPrice, 0, 'COMMA') + '원'}|"></div>&nbsp;&nbsp;&nbsp;
                        <div data-th-text="|경비 : ${#numbers.formatInteger(item.withoutFlightPrice, 0, 'COMMA') + '원'}|"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>
</div>

<script>
    window.onscroll = function() { scrollFunction() };

function scrollFunction() {
if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
document.getElementById("backToTop").style.display = "block";
} else {
document.getElementById("backToTop").style.display = "none";
}
}

// "맨 위로 가기" 버튼 클릭 시 페이지 상단으로 이동
document.getElementById("backToTop").addEventListener("click", function() {
document.body.scrollTop = 0; // For Safari
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
});

</script>
</body>
</html>
