server:
  port: 80
  servlet:
    context-path: /
#    encoding:
#      charset: UTF-8
#      enabled: true
#      force: true

spring:
  jackson:
    time-zone: Asia/Seoul
  # Data Base Setting (MySQL)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://152.67.216.37:3306/planner?serverTimezone=Asia/Seoul
    username: planner_user
    password: planner_PW0

  # JPA (Java Persistance API) Setting
  jpa:
    hibernate:
      ddl-auto: none      # 엔티티 파일이 수정되었을 때 작동 정보 (create, update, none.....)
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  # 날짜 형식 지정
  mvc:
    format:
      date: yyyy-MM-dd
  # 시큐리티 세팅 - API
  security:
    oauth2:
      client:
        registration:
          google: # /oauth2/authorization/google 이 주소를 동작하게 한다.
            client-id: 80217117975-cr1n3e4oksrvvfjunt0s1sqrnq75tej4.apps.googleusercontent.com
            client-secret: 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
            scope:
            - email

          # naver, kakao는 Oauth2를 공식적으로 지원하지 않아 provider 정보도 필요
          naver:
            client-id: JQmjpLquxbOMnFuqzQbo
            client-secret: sYXD5P75dO
            scope:
            - email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:80/login/oauth2/code/naver
          kakao:
            client-id: ad584ae880cd649244d0d1a4e8e5c68d
            # client-secret: slMrOmDTgKQy6LaWr6MtbYoQDQi35JVC
            client-authentication-method: client_secret_post
            redirect-uri: http://localhost:80/login/oauth2/code/kakao
            client-name: kakao
            scope:
              - account_email
            authorization-grant-type: authorization_code

        provider:
          naver: # 네이버 OAuth2 프로바이더 설정
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
            
          kakao: # 카카오 OAuth2 프로바이더 설정
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id






