body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    display: flex;
    justify-content: center; /* 좌우 중앙 정렬 */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

    a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit; /* 상속받은 색상을 사용합니다. */
    outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
}

.navEmptyBox{
     margin-top: 83px;
}


.content {
    text-align: center;  /* 텍스트와 인라인 요소를 가운데 정렬 */
    display: flex;       /* 플렉스박스 사용 */
    flex-direction: column;  /* 위에서 아래로 쌓기 */
    align-items: center; /* 플렉스박스의 자식 요소들을 좌우 중앙에 배치 */
    background-color: #F0F1F2;
    width:1700px;
}

.resultBox{
    display:flex;
    align-items: flex-start;
}

.flight-box-wrapper {
    /*border: 3px solid black; *//* 박스 외곽선 */
    margin: 10px;
    padding: 10px;
    border-radius: 15px; /* 둥근 모서리 효과. 원하는 값으로 조정 가능 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과. 원하는 값으로 조정 가능 */
    background-color: white; /* 흰 배경 */
}

.resultBoxRight{

}

.resultBoxLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:250px;
}
div#airlines-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
}

.airlineOption {
    display: flex; /* 체크박스와 라벨을 가로로 나란히 배치 */
    align-items: center; /* 체크박스와 라벨을 수직 중앙 정렬 */
    width: 100%;
    margin: 5px 0
}

.resultBoxLeft label {
    text-align: left;
    margin-left: 8px; /* 체크박스와 라벨 사이의 간격을 조정 */
}
.center-content {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align:left;
}

.center-content > span.duration + img {
    margin-left: 5px;
    margin-right:5px;
}

td.price{
    border-left: 2px dashed #ccc;
    margin-left:5px;
}

.flight-box-wrapper table {
    border-collapse: separate;
    border-spacing: 40px 10px;
    width:100%
}

.money{
 margin-left:55px;
}

.price .money {
    text-align: center; /* 내용물을 수평 가운데 정렬 */
    font-size:35px;
    font-weight:500;
}

.price .money span {
    display: block; /* 블록 요소로 변경하여 줄 바꿈 처리 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

.price .money button {
    margin: 10px auto; /* 버튼을 수평 가운데 정렬 */
}

.depart {
    display: flex;
    flex-direction: column; /* 수직으로 요소 나열 */
    align-items: flex-end; /* 요소를 오른쪽 정렬 */
}

.depart span {
    margin-left: auto; /* 왼쪽 여백을 자동으로 채워 오른쪽 정렬 */
}

.depart span:first-child {
    font-size: 30px; /* depart 클래스 내부의 첫 번째 span에 글꼴 크기를 20px로 설정 */
}

.arrive {
    display: flex;
    flex-direction: column; /* 수직으로 요소 나열 */
    align-items: flex-start; /* 요소를 왼쪽 정렬 */
}

.arrive span {
    margin-right: auto; /* 오른쪽 여백을 자동으로 채워 왼쪽 정렬 */
}

.arrive span:first-child {
    font-size:30px;
}

.airlineName{
    font-size:10px;
}

.book-btn {
    background-color: #1B253C;
    color: white;
    font-size:25px;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight:bold;
}