body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    display: flex;
    justify-content: center; /* 좌우 중앙 정렬 */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

    a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit; /* 상속받은 색상을 사용합니다. */
    outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
}

.navEmptyBox{
     margin-top: 83px;
}


.content {
    display: flex;       /* 플렉스박스 사용 */
    flex-direction: column;  /* 위에서 아래로 쌓기 */
    align-items: center; /* 플렉스박스의 자식 요소들을 좌우 중앙에 배치 */
    background-color: #F0F1F2;
    width:1700px;
}
.center-content {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align:left;
}
.routeBox {
    width: 1700px;
    height: 200px;
    background-image: url('/css/mainCountry/Spain/madrid.webp');
    background-repeat: no-repeat;
    background-position: center center; /* 이미지 중앙을 요소의 중앙에 배치합니다. */
    background-size: cover; /* 이미지를 확대/축소하여 요소를 꽉 채웁니다. */
    display:flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.routeText{
    color:white;
    font-size: 80px; /* 글꼴 크기 설정 */
    text-shadow: 2px 2px 4px #000000; /* 텍스트 그림자 적용 */
}

.flightInfoBox{
    width:1700px;
    display:flex;
    flex-direction:row;
    padding-top:50px;
    margin-right: 40px;
    height:1200px;
}

.flightPrice{
    width:700px;
}

.direction{
    color:white;
    background-color:#759ED9;
    padding: 5px 15px;
    border-radius: 10px;
}

.flightInfo {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

.departInfo{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right:40px;
}
.departTop{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.departMain{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 700px;
    border-radius: 15px;
    padding: 50px 20px;
    margin: 30px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.depart {
    display: flex;
    flex-direction: column; /* 수직으로 요소 나열 */
    align-items: flex-end; /* 요소를 오른쪽 정렬 */
}

.depart span {
    margin-left: auto; /* 왼쪽 여백을 자동으로 채워 오른쪽 정렬 */
}

.depart span:first-child {
    font-size: 30px; /* depart 클래스 내부의 첫 번째 span에 글꼴 크기를 20px로 설정 */
}

.arrive {
    display: flex;
    flex-direction: column; /* 수직으로 요소 나열 */
    align-items: flex-start; /* 요소를 왼쪽 정렬 */
}

.arrive span {
    margin-right: auto; /* 오른쪽 여백을 자동으로 채워 왼쪽 정렬 */
}

.arrive span:first-child {
    font-size:30px;
}


.directionAirport{
    font-size: 40px;
    margin: 0 20px;
    font-weight: 550;
}

.topDate{
    font-size: 20px;
}

.mainDate{
    font-size: 20px;
    margin: 0 40px;
}

.mainAirlineImage{
    margin: 0 20px;
    width:48px;
    height:48px;
}

table td{
 padding: 0 15px;
}

.flightPrice{
    border-left: 3px solid #DFE1E6;
    padding-left:40px;
}

.flightPriceBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flightPriceRoute{
    background-image: url('/css/mainCountry/Spain/madrid.webp');
    background-repeat: no-repeat;
    background-position: center center; /* 이미지 중앙을 요소의 중앙에 배치합니다. */
    background-size: cover; /* 이미지를 확대/축소하여 요소를 꽉 채웁니다. */
    display:flex;
    justify-content: center; /* 수평 중앙 정렬 */
    text-align:center;
    align-items: center; /* 수직 중앙 정렬 */
    border-radius: 10px 10px 0 0;
    width:400px;
    height:250px;
    color:white;
    font-size: 45px;
    text-shadow: 2px 2px 4px #000;
}

.flightPriceAmount{
    border-radius: 0 0 10px 10px ;
    background-color:white;
    width:400px;
    height:330px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.flightPriceButton{
    width:162px;
    border: 4px solid #62BEFF;
    background-color:white;
    color:#62BEFF;
    border-radius:15px;
    text-align:center;
    font-weight: bolder;
    padding:5px;
    font-size: 20px;
}

input[type=submit].flightPriceButton {
    width: 180px;
    border: 4px solid #62BEFF;
    background-color: white;
    color: #62BEFF;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    font-size: 20px;
    cursor: pointer; /* 마우스를 올렸을 때 커서를 손가락 모양으로 변경 */
    outline: none; /* 클릭 시 생기는 외곽선 제거 */
    -webkit-appearance: none; /* iOS와 같은 플랫폼에서 기본 스타일 제거 */
    -moz-appearance: none; /* Firefox에서의 기본 스타일 제거 */
    appearance: none; /* 표준 방식으로 기본 스타일 제거 */
}

input[type=submit].flightPriceButton:hover {
    opacity: 0.8; /* 마우스를 올렸을 때 약간 투명해지도록 */
}

input[type=submit].flightPriceButton:active {
    opacity: 1; /* 클릭할 때 다시 불투명하게 */
}

.dropBtn-content h4 {
        color: #333;
        padding-top: 10px; /* 필요에 따라 조정 */
    }

.dropBtn-content p {
    text-align: left;
    color: #666;
    padding: 0 15px 10px 15px; /* 상, 우, 하, 좌 패딩 값 */
}

  .dropBtn {
  cursor: pointer;
  width:700px;
padding: 15px 20px;
margin: 30px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  transition: background-color 0.3s;
  font-size:20px;
  margin-bottom:0px;

      /* 추가 스타일을 적용하려면 아래에 추가하세요. */
  }

.dropdown-content {
  display: none;
  width:700px;
  max-height:300px;
  overflow-y: auto;
  padding: 30px 20px;
  margin: 30px 10px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  background-color:white;
  z-index: 1;
  margin-top:0px;
  /* transition 추가 */
  transition: max-height 0.5s ease-out; /* 부드러운 효과를 위해 max-height 조정 */
}