body {
    margin:0;
    padding:0;
}

.loading {
                           position: absolute;
                           width: 90px;
                           height: 90px;
                           top: 450px;
                           left: 915px;
                           z-index: 991;
                           background-repeat: no-repeat;
                               background-position: center center;
                               background-size: cover;
    background-image: url('/img/loading5.gif');
}




button {
    background: none;       /* 배경색 제거 */
    border: none;           /* 테두리 제거 */
    padding: 0;             /* 패딩 제거 */
    margin: 0;              /* 마진 제거 */
    font-family: inherit;   /* 글꼴 상속 */
    font-size: inherit;     /* 글꼴 크기 상속 */
    cursor: pointer;        /* 포인터 커서 표시 */
    outline: none;          /* 포커스 아웃라인 제거 */
    -webkit-appearance: none;  /* 웹킷 브라우저에서의 기본 스타일 제거 */
    -moz-appearance: none;     /* 파이어폭스에서의 기본 스타일 제거 */
    appearance: none;          /* 기타 브라우저에서의 기본 스타일 제거 */
}

.content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }



.middle-box {
    text-align: center;
    width: 1700px;
    height: 2500px;
    background-color: white;
    padding-top: 100px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}




.slider { float:left;
    width: 40px;
    overflow: hidden;
}

.slide {
    margin-top: -35px;
    position: absolute;
    width: 1600px;
    height: 800px;
    opacity: 0;
    transition: opacity 1s;
}

.slide:nth-child(1) { opacity: 1; } /* 시작 시 첫 번째 이미지가 보이도록 설정 */


.slider-controls {

    z-index: -1;
    top: -50px; /* 이 값은 이미지 크기에 따라 조절해야 할 수 있습니다. */
    text-align: center;
}


#prevSlide {
    float:left;
    margin-left:20px;
    margin-top: 350px;
    width: 10px;
    height:20px;
    background-image: url('/img/prev.png');
    background-repeat: no-repeat;
    z-index: 100;
}

#nextSlide {
    float:right;
    margin-right:20px;
    margin-top: 350px;
    width: 10px;
    height:20px;
    background-image: url('/img/next.png');
    background-repeat: no-repeat;
    z-index: 100;
}


.slider-image {
    width: 200px;
    height: 100px;
}


.slider-indicators {
    text-align: center;
    margin-top: 780px;
}
.slider-indicators .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: none;
    cursor: pointer;
    border: 1px solid #4F54B4;
    opacity: 0.8;
}
.slider-indicators .indicator.active {
    background-color: #4F54B4;
    opacity: 0.8;
}




.flight {
    position:absolute;

    width: 1270px;
    height: 155px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    transform: translate(17%, -490%);
}

  .flight-content {
        width: 1020px;
        height: 155px;
        display: flex;  /* Flexbox를 사용 */
        justify-content: space-between; /* 항목들 사이의 공간을 균등하게 분배 */
        align-items: center;  /* 세로 중앙 정렬 */
        background-color: rgba(54, 78, 155, 0.8);  /* 배경색에 투명도 적용 */
    }

    .flight-item {
        display: flex;
        align-items: center;  /* 항목들을 세로 중앙에 정렬 */
        margin-right: 20px;  /* 항목들 사이의 간격 */
    }

    .flight-item:last-child {
        margin-right: 0;  /* 마지막 항목에는 마진 제거 */
    }



.submit-btn {
   margin-left: auto;  /* 왼쪽 마진을 자동으로 설정하여 오른쪽 정렬 */
   float: right;
   background-color: white;
   width: 245px;
   padding-bottom: 15px;
   height: 155px;
   margin-right: -250px;
   font-size: 24px;
   border: none;
   font-family: 'Nunito', sans-serif;
   letter-spacing: 2px;
   font-weight: 700;
   cursor: pointer;
}


.flight-box {
    font-family: 'Nunito', sans-serif;
    color: white;
    width:247px;
    height:140px;
    background-color:#364E9B;
    margin-left: 6px;
    line-height: 50px;          /* 텍스트의 수직 위치를 조정 */
}


.arrow {
    position:absolute;
    top: 85px;
    left: 1130px;
    width: 30px;
    height: 30px;
    background-image:url('/img/arrow.png');
    background-repeat: no-repeat;    /* 이미지 반복 안 함 */
    z-index: 200;
    background-position: center;    /* 이미지를 박스의 중앙에 위치시킴 */
}


select {
    appearance: none;
    background: url('path/to/your/dropdown-icon.png') no-repeat right center;
}

#departureAirport {
    position: absolute;
    margin-top: 40px;
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-size: 36px;
    width: 247px;
    height: 100px;
    background-color: #364E9B;
    margin-left: 6px;
    border: none;               /* 기본 테두리 제거 */
    -webkit-appearance: none;   /* Chrome, Safari에서 기본 디자인 제거 */
    appearance: none;           /* 표준화된 브라우저 디자인 제거 */
    padding: 10px;              /* 내부 패딩 추가 */
    line-height: normal;        /* line-height 재설정 */
    cursor: pointer;            /* 마우스 오버시 커서 변경 */

}

#departureAirport::-ms-expand {
    display: none;
    border: none;
}


#departureAirport option {
    font-size: 18px; /* 원하는 크기로 설정 */
    border: none;
}

#departureAirport:focus {
    outline: none;   /* 기본 테두리 제거 */
    border:none;
}











#arrivalAirport {
    position: absolute;
    left: 253px;
        margin-top: 40px;
        text-align:center;
        font-family: 'Noto Sans KR', sans-serif;
        color: white;
        font-size: 36px;
        width: 247px;
        height: 100px;
        background-color: #364E9B;
        margin-left: 6px;
        border:none;               /* 기본 테두리 제거 */
        -webkit-appearance: none;   /* Chrome, Safari에서 기본 디자인 제거 */
        -moz-appearance: none;      /* Firefox에서 기본 디자인 제거 */
        appearance: none;           /* 표준화된 브라우저 디자인 제거 */
        padding: 10px;              /* 내부 패딩 추가 */
        line-height: normal;        /* line-height 재설정 */
        cursor: pointer;            /* 마우스 오버시 커서 변경 */
}

#arrivalAirport::-ms-expand {
    display: none;
}


#arrivalAirport option {
    font-size: 18px; /* 원하는 크기로 설정 */
    border:none;
}

#arrivalAirport:focus {
    outline: none;   /* 기본 테두리 제거 */
    border: none;    /* 기본 보더 제거 */
}















#departureDate {
caret-color: transparent;
position: absolute;
    left: 512px;
 margin-top: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 24px;
    background-color: #364E9B;
    border: none;  /* 기본 테두리 제거 */
    -webkit-appearance: none;  /* Chrome, Safari에서 기본 디자인 제거 */
    -moz-appearance: none;  /* Firefox에서 기본 디자인 제거 */
    appearance: none;  /* 표준화된 브라우저 디자인 제거 */
    padding: 10px;  /* 내부 패딩 추가 */
    line-height: normal;  /* line-height 재설정 */
    cursor: pointer;  /* 마우스 오버시 커서 변경 */
    width: 225px;  /* 너비 지정 */
    height: 80px;  /* 높이 지정 */
}


#arrivalDate {
   caret-color: transparent;
   position: absolute;
       left: 765px;
    margin-top: 40px;
       text-align: center;
       font-family: 'Nunito', sans-serif;
       color: white;
       font-size: 24px;
       background-color: #364E9B;
       border: none;  /* 기본 테두리 제거 */
       -webkit-appearance: none;  /* Chrome, Safari에서 기본 디자인 제거 */
       -moz-appearance: none;  /* Firefox에서 기본 디자인 제거 */
       appearance: none;  /* 표준화된 브라우저 디자인 제거 */
       padding: 10px;  /* 내부 패딩 추가 */
       line-height: normal;  /* line-height 재설정 */
       cursor: pointer;  /* 마우스 오버시 커서 변경 */
       width: 225px;  /* 너비 지정 */
       height: 80px;  /* 높이 지정 */
}




#departureDate:focus, #arrivalDate:focus {
    outline: none;  /* 기본 테두리 제거 */
    border: none;  /* 기본 보더 제거 */

}




.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #364E9B !important;
    border-radius: 4px;
    border: none !important;
    width: 247px !important;
    max-width: none;
    padding: 0;
    margin-top: 3px !important;
    margin-left: 0.5px !important;
    top: 285px !important;
    left: 20px; !important;
    z-index: 100;
    display: none;
    ffont-family: 'Nunito', sans-serif !important;
    font-size: 15px;
    line-height: 1em;
    border: none !important;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
}

.daterangepicker .calendar-table {
      background-color: #364E9B !important;
       border: 1px solid #364E9B !important;
 }

 .daterangepicker .calendar-table td, .daterangepicker .calendar-table th {
        color: white;
        border: 1px solid #364E9B !important;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        min-width: 29px !important;
        width: 29px !important;
        height: 29px !important;
        line-height: 29px!important;
        font-size: 11px !important;
        font-weight: 300 !important;
        border-radius: 20px !important;
        border: 0px solid transparent !important;
        white-space: nowrap;
        cursor: pointer;
 }


.daterangepicker .drp-calendar.left {

    background-color: #364E9B !important;
    color: #364E9B !important;
    border: 1px solid #364E9B !important;
}

/*취소확인버튼*/
.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 11px !important;
    font-weight: bold;
    padding: 4px 8px;
    color: white;
    border: 1px solid #364E9B !important;
}

.daterangepicker .drp-buttons {
    clear: both;
    color: white;
    background-color: #364E9B !important;
    text-align: right;
    padding: 8px;
    border: 1px solid #364E9B !important;
    display: none;
    line-height: 12px;
    vertical-align: middle;
}

.daterangepicker.opensright:before {
    display:none !important;
    background-color: #364E9B !important;
}

.daterangepicker:after {
    top: -6px;
    border:none !important;
}


.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #364E9B !important;
    border-color: transparent;
    color: #4C61AD !important;
}

.daterangepicker .calendar-table .next span {
    color: #364E9B !important;
    border: solid white !important;
    border-width: 0 2px 2px 0 !important;
    border-radius: 0 !important;
    display: inline-block !important;
    padding: 3px !important;
}


.daterangepicker .calendar-table .prev span{
    color: #364E9B !important;
    border: solid white !important;
    border-width: 0 2px 2px 0 !important;
    border-radius: 0 !important;
    display: inline-block !important;
    padding: 3px !important;
}

.daterangepicker select.monthselect {

    color: white;
    background-color: #364E9B !important;
    margin-right: 3%;
    width: 60%;
    background-color: #f3f4f6;  /* 배경색을 연한 회색으로 변경 */
    border: #364E9B !important;
    border-radius: 5px;          /* 모서리를 둥글게 변경 */
}

.daterangepicker th.month {
    width: auto;
    font-size : 20px !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 500 !important;
}




/*나라 탭메뉴*/
.middle-content2 {
    margin-left: 100px;
    width: 1500px;
    height: 1300px;
    margin-top: 250px;
     z-index: 900;
}

.content2-header {
    text-align: left;
    margin-left: 150px;
    width: 1200px;
    height: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 48px;
    color: #364E9B;
    font-weight: 700;
}




.tab1-center {
    float: left;
    width: 350px;
    height: 530px;
    margin-left: 20px;
    z-index: 900;
}


.tab1-img1{
    float: left;
    width: 660px;
    height: 425px;
    margin-top: 105px;
    margin-left: 50px;
     position: relative;
     overflow: hidden;
      z-index: 900;
}

.tab1-start{
    position:relative;
    width: 350px;
    height: 280px;
    background-color: #7BB2F0;
     z-index: 900;
}

.tab1-start-box {
    color: white;
font-family: 'Nunito', sans-serif;
    border: 1px solid  #7BB2F0;
    margin-left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
     z-index: 900;
}

.tab1-start-box h1 {
    margin-top: 20%;
     z-index: 900;
}



.start-btn {
    padding-top: 10px;
    width: 200px;
    height: 30px;
    border: 5px solid white;
    border-radius: 30px;
    margin-left: 35px;
        margin-top: 10px;
        font-weight: 600;
         z-index: 900;
}

.start-btn:hover {
    padding-top: 10px;
    width: 200px;
    height: 30px;
    color:#7BB2F0;
    border: 5px solid white;
    background-color: white;
    border-radius: 30px;
    margin-left: 35px;
    font-weight: 600;
        margin-top: 10px;
         z-index: 900;

}

.tab1-img2{
    width: 350px;
    height: 230px;
    margin-top: 20px;
   position: relative;
     overflow: hidden;
     z-index: 900;
}

.tab1-img3{
    float: left;
    width: 270px;
    height: 445px;
    margin-left: 20px;
    margin-top: 85px;
    position: relative;
    overflow: hidden;
    z-index: 900;
}



.tab1-img4{
    float: left;
    width: 525px;
    height: 350px;
    margin-top: 20px;
    margin-left: 120px;
    position: relative;
    overflow: hidden;
    z-index: 900;
}

.tab1-img5{
    float: left;
    width: 775px;
    height: 520px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
         overflow: hidden;
         z-index: 900;
}

.tab1-img1 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
    z-index: 900;
}
.tab1-img2 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
}
.tab1-img3 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
}
.tab1-img4 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
}
.tab1-img5 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
}


.tab1-img1:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img1:hover .blueScreen {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
         width: 50%;
         right: 0;
}

.tab1-img2:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img2:hover .blueScreen2 {
     opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
}

.tab1-img3:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img3:hover .blueScreen2 {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */

}

.tab1-img4:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img4:hover .blueScreen {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
         width: 50%;
         right: 0;
}

.tab1-img5:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img5:hover .blueScreen {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
         width: 50%;
         right: 0;
}

.tab1-img1:hover p {
    opacity: 1;
}

.tab1-img2:hover p {
    opacity: 1;
}

.tab1-img3:hover p {
    opacity: 1;
}

.tab1-img4:hover p {
    opacity: 1;
}

.tab1-img5:hover p {
    opacity: 1;
}

.tab1-img1 h2 {
    position: absolute;
    top : 85%;
    left: 3%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}
.tab1-img2 h2 {
    position: absolute;
    top : 74%;
    left: 4%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}
.tab1-img3 h2 {
    position: absolute;
    top : 86%;
    left: 6%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}
.tab1-img4 h2 {
    position: absolute;
    top : 82%;
    left: 3%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}
.tab1-img5 h2 {
    position: absolute;
    top : 88%;
    left: 2%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}


.tab1-img1 p {
    position: absolute;
    left: 52.5%;
    width:45%;
    height: 92%;
    font-size: 12px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
     transition: opacity 0.3s;

}

.tab1-img2 p {
    position: absolute;
    left: 5%;
    width:90%;
    height: 80%;
    font-size: 12px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
     transition: opacity 0.3s;

}


.tab1-img3 p {
    position: absolute;
    left: 5%;
    width:90%;
    height: 80%;
    font-size: 12px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
    transition: opacity 0.3s;

}

.tab1-img4 p {
    position: absolute;
    left: 52.5%;
    width:45%;
    height: 92%;
    font-size: 12px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
     transition: opacity 0.3s;

}

.tab1-img5 p {


    position: absolute;
    left: 52.5%;
    width:45%;
    height: 92%;
    font-size: 12px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
     transition: opacity 0.3s;

}





.blueScreen {
    position: absolute;  /* 절대 위치를 사용하여 div를 이미지 위에 배치 */
    top: 0;  /* 상단에서 0px의 위치에 배치 */
    right: -100%;  /* 좌측에서 0px의 위치에 배치 */
    width: 0;  /* 너비를 부모 div에 맞게 조절 */
    height: 100%;  /* 높이를 부모 div에 맞게 조절 */
    background-color: #364E9B;;  /* 파란색 배경. 원하는 색상으로 변경 가능 */
    pointer-events: none;
    opacity:0;
    transition: opacity 0.3s,  right 0.2s;
}

.blueScreen2 {
    position: absolute;  /* 절대 위치를 사용하여 div를 이미지 위에 배치 */
    top: 0;  /* 상단에서 0px의 위치에 배치 */
    left: 0;  /* 좌측에서 0px의 위치에 배치 */
    width: 100%;  /* 너비를 부모 div에 맞게 조절 */
    height: 100%;  /* 높이를 부모 div에 맞게 조절 */
    background-color: #364E9B;;  /* 파란색 배경. 원하는 색상으로 변경 가능 */
    transition: opacity 0.3s;
    pointer-events: none;
     opacity:0;
}










.tab-list li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    margin-right: 5px;
}






.tab-menu {

    font-family: 'Nunito', sans-serif;
    width: 1500px;
    height: 1200px;
    z-index:900;
}

.tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 150px;
    font-family: 'Nunito', sans-serif;
    color: grey;
}


.tab-list li {
    padding: 1px 20px;
    cursor: pointer;

    border-bottom: none;
    margin-right: 5px;
    border:none;
}

.tab-list li.active {
    padding-bottom: 2px;
    font-weight: 800;
    color: #364E9B;
    background: linear-gradient(to right, white, white 25%, #364E9B 25%, #364E9B 75%, white 75%, white);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 3px; /* "border"의 두께 결정 */
}

.tab-tabcontent {
    padding: 20px;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.greyBox1 {
 position: absolute;
 width: 1300px;
 height: 600px;
 background-color: #b5bacc;
 top: 1900px;
 opacity:0.1;
}
.greyBox2 {
 position: absolute;
 width: 580px;
 height: 600px;
 left: 64%;
 background-color: #b5bacc;
 top: 1150px;
 opacity:0.1;
}

.blueStick1 {
 position: absolute;
 width: 1700px;
 height: 15px;
 background-color: #364E9B;
 top: 2530px;
 opacity:1;
 background: linear-gradient(to right, #364E9B, #364E9B 10%, white 10%, white 60%, #364E9B 60%, #364E9B);
}



.recommendSection {

    width: 1700px;
    height: 770px;

}


.recommend-title {
    width: 1700px;
    height: 130px;
    color: white;
    text-align:center;
    margin-top: 200px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}




.swiper-container {
  margin-top: 50px;
  width: 1700px;
  height: 540px;
}
.swiper-slide{

}

.swiper-slide .img {
    margin-left: 700px;
    width: 320px;
    height: 530px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/*.swiper-slide img {
    margin-left: 700px;

    background-color: white;

}*/

.swiper-container-3d {
    perspective: 200px !important;
}

.swiper-back {
    position:relative;
    width: 1450px;
    height: 400px;
    background-color: white;
    z-index: -1;
    margin-left: 7.5%;
    margin-top: -20%;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);


}

 .swiper-back p {
    position: absolute;
    bottom: 5px;
    left: 41%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    opacity: 0.7;
  }

.bottom-back {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1800px;
    background-color: white;
    position: relative; /* 부모 요소를 상대적으로 위치 지정합니다. */
    z-index: -2;
    text-align:center;
}

.bottom-content {
    width: 1700px;
    height: 1500px;

}


.bottom-title {
    margin-top: 400px;
    color: #364E9B;
    font-family: 'Noto Sans KR', sans-serif;
}

.card-box {

    width: 1300px;
    height: 540px;
    margin-left: 11.5%;

}

.card-list {
    /*border: 1px solid black;*/
    float: left;
    width: 300px;
    height: 500px;

    margin-left: 1.5%;
    margin-top: 20px;


}
.card {
border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}



.card-list img{
    width: 300px;
    height: 275px;
    border-radius: 20px 20px 0 0;
}



.about {
    position: relative;
    margin-top: 250px;
    width: 1700px;
    height: 450px;
    background-color: white;
    z-index: 10;
    opacity: 1;
    margin-left: -30px;
    text-align:left;
    padding: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}


.about-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    float: left;
    width: 400px;
}
.about-rkcl {
    font-size: 16px;
    font-family: 'Noto sans KR', sans-serif;
    margin-left: 30px;
    float: left;
    width: 200px;
    margin-top: 40px;
    margin-left: 175px;

}
.about-social {
     font-size: 16px;
     font-family: 'Noto sans KR', sans-serif;
     float: left;
     width: 150px;
     margin-top: 40px;
     margin-left: 335px;
 }
 .about-info {
      font-size: 16px;
      font-family: 'Noto sans KR', sans-serif;
      float: left;
      width: 300px;
      margin-top: 40px;
      margin-left: 75px;
  }

.about-left {
    font-weight: 500;
    float: left;
    margin-left: -400px;
    font-size: 13px;
    font-family: 'Noto sans KR', sans-serif;
}

.about-center {
    font-weight: 500;
    float: left;
    margin-left: 75px;
    font-size: 13px;
    font-family: 'Noto sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.about-center2 {
    font-weight: 500;
    float: left;
    margin-left: 55px;
    font-size: 13px;
    font-family: 'Noto sans KR', sans-serif;
}

.about-right {
    font-weight: 500;
    float: right;
    font-family: 'Noto sans KR', sans-serif;
    font-size: 13px;
    margin-top: 13px;
    margin-right: 50px;
}






.opacity-back {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1070px;
    background-image:url('/img/opacityback.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}






























     .bg1{
                position:fixed;
                top: 0px;
                width: 100%;
                height: 930px;
                background-image:url('/img/bg2.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
                z-index:-999;

             }


     .bg2{
            position:absolute;
                width: 100%;
                height:1400px;
                margin-top: -2000px;

                background-image:url('/img/bg1.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
                z-index:-999;
             }

   .bg3{
                width: 100%;
                height: 300px;
                margin-top: -70px;
                position:absolute;
                background-image:url('/img/bg3.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
                z-index:-999;
             }



  .bg4{
                width: 100%;
                height: 1050px;
                margin-top: -750px;
                position:absolute;
                background-image:url('/img/bg3.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
                z-index:-999;
             }




.bg-blue {
    top:0px;
    background-color:#1b4995;
    opacity:0.4;
    width:100%;
    height:5000px;
    position:absolute;
    z-index:-998;

}