body {
    margin:0;
    padding:0;
     display: flex;
        flex-direction: column;  /* 자식 요소들을 세로 방향으로 배열합니다. */
        align-items: center;     /* 자식 요소들을 가로 방향으로 중앙에 배치합니다. */

}

.background {
    background-color:#1b4995;
    opacity:0.5;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-998;

}

.background2 {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-999;
    background-image: url('/img/bg1.png');
     background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    width: 1660px;
    height:720px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    z-index: 100;
    border-radius: 0 0 20px 20px ;


}

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

        a:link, a:visited, a:hover, a:active, a:focus {
        color: inherit; /* 상속받은 색상을 사용합니다. */
        outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
    }

.nav {

    padding-bottom: 15px;
    background-color: white;
    width: 1700px;
    height: 80px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index: 999;
}

.content {
/*    border: 1px solid blue;*/
    width: 1200px;
    height: 700px;
    display: flex;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.top-box {

    width: 1250px;
    height: 375px;
}

/*내정보칸*/
.info {
    float: left;
    width: 250px;
    height: 350px;
/*    border: 1px solid red;*/
}

.myInfo {
    display: flex;
    flex-direction: column;  /* 자식 요소들을 세로 방향으로 배열합니다. */
    align-items: center;     /* 자식 요소들을 가로 방향으로 중앙에 배치합니다. */
    justify-content: center; /* 자식 요소들을 세로 방향으로 중앙에 배치합니다. */
    border: 1px solid #E0E0E0;
    border-radius : 15px;
    text-align: center;
    width: 250px;
    height: 300px;
}

.profileImage {

    width: 170px;
    height: 170px;
}
.profileImage img {
    border-radius: 100px;
    margin: 0 auto;
    width: 170px;
    height: 170px;
}

.nickname {
    font-family: 'Noto sans KR', sans-serif;
    margin-top: 10px;
}



.modify-btn {
    background-color: white; /* 배경색 */
    border: 1px solid lightgrey; /* 테두리 제거 */
    padding: 0px 12px; /* 패딩 (버튼 내부의 여백) */
    font-size: 12px; /* 글자 크기 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시에 손가락 모양으로 변경 */
    transition: background-color 0.3s; /* 배경색 변경 효과 시간 */
    margin-top: 10px;
    height: 30px;
}

.modify-btn p {
    margin-top: 7px;
    color: lightgrey;
}


.modify-btn:hover {
    background-color: lightgrey; /* 마우스 오버 시에 배경색 */
}

.modify-btn:hover p{
    color: white;
}


.vertical-line {
    background-color: #E0E0E0;
    width:1px;
    height: 600px;
    opacity: 0.7;
    margin-left: 275px;
    margin-top: 65px;
}
.vertical-line2 {
    background-color: #E0E0E0;
    width:1px;
    height: 600px;
    opacity: 0.7;
    margin-left: 975px;
    margin-top: -600px;
}


.attraction-box {
    float: left;
/*    border: 1px solid red;*/
    width: 650px;
    height: 250px;
    margin-left: 50px;
}

.attraction {
    width: 650px;
    height: 200px;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    display:flex;
}

.attraction::-webkit-scrollbar {
    display:none;
}

.bottom-box {
    border: 1px solid green;
    width: 1155px;
    height: 375px;
}

.myQuestion-box {
    clear: both; /* 둘 다 (왼쪽과 오른쪽) 떠있는 요소 아래에 배치 */
    float: left;
    height: 345px;
    width: 250px;
    margin-top: -330px;
/*    border: 1px solid red;*/
}



.like-box {
    margin-top: -430px;
    float: left;
   /* border: 1px solid red;*/
    width: 650px;
    height: 445px;
    margin-left: 50px;
}

.likeList {
    display:flex;
    width: 650px;
    height: 390px;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    overflow-x: auto;
    overflow-y: hidden;
}

.likeList::-webkit-scrollbar {
    display: none;
}

.myPlan-box {
    position: relative;
    float: left;
     width: 250px;
     height: 680px;
     margin-left: 50px;

}

.myPlan {
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    width: 230px;
    height: 620px;
    overflow-y: auto; /* 세로로 스크롤 허용 */
    overflow-x: hidden; /* 가로로 스크롤 방지 */
    padding: 10px; /* 패딩 추가 */
}

.myPlan::-webkit-scrollbar {
    display: none;
}

.card {

    background : linear-gradient(to bottom,  #59baffd6 0%,  #59baffd6 30%, white 30%, white 100%);
    display:flex;
    flex-direction: column;  /* 자식 요소들을 세로 방향으로 배열합니다. */
    align-items: center;     /* 자식 요소들을 가로 방향으로 중앙에 배치합니다. */
    width: 200px;
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
    text-align:center;
}

.card2 {
    float: left;
    background : linear-gradient(to bottom,  #59baffd6 0%,  #59baffd6 30%, white 30%, white 100%);
    display:flex;
    flex-direction: column;  /* 자식 요소들을 세로 방향으로 배열합니다. */
    align-items: center;     /* 자식 요소들을 가로 방향으로 중앙에 배치합니다. */
    width: 150px;
    max-width: 150px;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align:center;
    height: 345px;
}


.card3 {
     position: relative;
     float: left;
     background : linear-gradient(to bottom,  #59baffd6 0%,  #59baffd6 30%, white 30%, white 100%);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 153px;
     max-width: 153px;
     border-radius: 15px;
     box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
     margin-bottom: 20px;
     margin-top: 20px;
     margin-left: 20px;
     text-align: center;
     overflow: hidden;  /* 이미지가 박스를 넘어가면 잘라냅니다. */
}


.card img{
    width: 200px;
}


.card2 img{
    width: 150px;
    height: 140px;
}

.card3 img{
  position: relative;
    top: 50%;
    width: 153px;
    height: 133px;
    object-fit: cover; /* 이미지의 비율을 유지하면서 박스를 채우게 합니다. */
    border-radius: 0 0 15px 15px;

}


.plan-title {
    color: white;
    float: left;
    font-family: 'Noto sans KR', sans-serif;
    padding: 4px 8px;
    font-size: 14px;
    text-align:center;
    max-width: 200px;
 }

 .attraction-title {
     color: white;
     float: left;
     font-family: 'Noto sans KR', sans-serif;
     padding: 4px 8px;
     font-size: 12px;
     text-align:center;
     max-width: 150px;

  }

.plan-title2 {
    color: white;
    float: left;
    font-family: 'Noto sans KR', sans-serif;
    padding: 4px 8px;
    font-size: 12px;
    text-align:center;
    max-width: 200px;
 }

.myQuestion {
    height: 290px;
    width: 250px;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 세로로 스크롤 허용 */
    overflow-x: hidden; /* 가로로 스크롤 방지 */
    padding: 10px; /* 패딩 추가 */

}


.myQuestion tr {
    display: flex;
    flex-direction: column;
    /*background-color: #59BAFF;*//*
    color: white;*/
}

.myQuestion td, th {
        display: flex;
        flex-direction: column;
}

 .question-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0a1;
    font-size: 13px;
    font-weight: 500;
    font-family : 'Noto sans KR', sans-serif;
    max-width: 200px;
 }


 .question-date {
    text-align: right;
    margin-top: 5px;
    font-size: 10px;
    font-family : 'Noto sans KR', sans-serif;
    max-width: 200px;

 }

.myQuestion-card {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.myQuestion::-webkit-scrollbar {
    display: none;
}




