@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

.background {
    background-color:#1b4995;
    opacity:0.5;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-998;

}

.background2 {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-999;
    background-image: url('/img/bg.png');
     background-repeat: no-repeat;
}

.attraction-image{
    margin-top:5px;
    width:180px;
    height:125px;
    border-radius:10% 10% 0% 0%;

}

.image-container{
    margin-right:5px;
    margin-left:5px;
}


.nav {
    left: 110px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    background-color: white;
    width: 1700px;
    height: 80px;
    text-align: center;
    position:fixed;
    top: 0px;

    position: absolute;
    }

    a {
    text-decoration: none;
    }

    a:hover {
    text-decoration: none;
    }

    a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit; /* 상속받은 색상을 사용합니다. */
    outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
}

.container {
    max-width: 1660px;
    height:880px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    z-index: 100;
    border-radius: 0 0 20px 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* SweetAlert창 크기 */
.custom-modal-width {
    width: 800px;
}
.custom-modal-width2{
    width: 800px;
}

.modal-image{
    width:580px;
    height:450px;
}

#external-events{
    margin:10px;
    overflow-x: auto;
}
/* 외부객체 (드래그 드랍) */
#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event-container {
    margin: 0px 5px 5px 5px;
    cursor: move;
    height: 165px;
}

.fc-event-container {
    background-color: none;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px #80808021;
}

/* 지도,캘린더를 묶는 cotainer */
.contain {
    display: flex;
    margin-top: 70px;
    padding-left:40px;
    padding-right:40px;
    padding-top:30px;
    padding-bottom: 20px;
}

/* 캘린더 전체 */
#calendar {
    width: 780px;
    height: 520px;
    margin-left: 10px;
}

/* 지도 */
#map {
    flex: 1;
    width: 780px;
    height: 520px;
    margin-right:10px;
}

.content-button-container{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 155px;
        padding-top: 10px;
        padding-left: 38px;
}

#searchSelect{
    width:60px;
    height:30px;
    border:1px solid black;
    border-radius:10%;
    text-align:center;
}

.content-type-button{
    width:60px;
    height:30px;
    border:none;
    border-radius:10%;
    cursor:pointer;
    background-color:#FFFFFF;
}

.content-type-button:hover {
    color: #FFFFFF; /* 원하는 색상으로 변경 */
}


/* 버튼에 호버 시 테두리 색상 변경 */
.content-type-button:hover {
    border-color: #2B3D4F; /* 호버 시 테두리 색상 설정 */
    background-color: #2B3D4F;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}



.content-type-button:focus {
      border-color: #2B3D4F; /* 호버 시 테두리 색상 설정 */
      background-color: #2B3D4F;
      color:white;
      transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */

}

.like-button{
    width:60px;
    height:30px;
    border:none;
    border-radius:10%;
    cursor:pointer;
    background-color:#FFFFFF;
}

.like-button:hover {
    color: #FFFFFF; /* 원하는 색상으로 변경 */
}


/* 버튼에 호버 시 테두리 색상 변경 */
.like-button:hover {
    border-color: #2B3D4F; /* 호버 시 테두리 색상 설정 */
    background-color: #2B3D4F;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}



.like-button:focus {
    border-color: #2B3D4F; /* 호버 시 테두리 색상 설정 */
    background-color: #2B3D4F;
    color:white;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */

}



#wrap{
    display: flex;
    height: 200px;
    width: 1628px;
}

#calendar-wrap {
    flex: 1;
}



#searchResults {
    background-color: rgba(255, 255, 255, 0.25); /* 흰 배경색 및 투명도 설정 */
    /*border: 1px solid #ccc; !* 테두리 설정 *!*/
    /*border-radius: 5px; !* 둥근 테두리 설정 *!*/
    padding: 10px; /* 내부 여백 설정 */
    height: 250px; /* 최대 높이 설정 (내용이 너무 길 경우 스크롤 표시) */
    overflow-y: scroll; /* 세로 스크롤바 표시 (내용이 길 경우) */
    scrollbar-width: thin; /* 스크롤바 너비 설정 */
    scrollbar-color: transparent transparent; /* 스크롤바 색상 투명으로 설정 */

}

#external-events-list{
    display: flex;
    flex-direction: row;
    font-size:10px;
    overflow-x:hidden;
    overflow-y:hidden;
    /* 스크롤바 숨김 */
    &::-webkit-scrollbar {
        width: 0px; /* 스크롤바 너비 설정 */
    }
    &::-webkit-scrollbar-thumb {
        background: transparent; /* 스크롤바 썸 색상 투명으로 설정 */
    }
    &::-webkit-scrollbar-track {
        background: transparent; /* 스크롤바 트랙 색상 투명으로 설정 */
    }
}



/* 알림창 내용 input 태그  */
.swal2-text-area {
    width: 20%;
    font-size: 16px;
}

.swal2-input {
    width: 75%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 계획 시작일자로 이동 버튼 */
#custom-startDate-button {
    position: absolute;
    top: 0px;
    left: 190px;
    background-color: #2B3D4F;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
        font-size: 10px;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em;
}
.fc-event-title{
font-size:12px;}
.fc .fc-button{
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: #2B3D4F;
     color: white;
     border: none;
     padding: 8px 10px;
     cursor: pointer;
     border-radius: 5px;
     height: 30px;
     font-size: 10px;
     width: 45px;
}
.fc .fc-today-button{
    top: 0px;
    left: 290px;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: -17.25em;
}


#custom-startDate-button{
    position: absolute;
    top: 0px;
    left: 190px;
    background-color: #2B3D4F;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    font-size: 10px;
    width: 69px;
    }

.start-end-date{
    position: absolute;
    bottom: 23px;
    right: 75px;
    background-color: #FFFFFF;
    font-size:13px;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 38px;
    padding-right:60px;
}

.preview-button{
    position: absolute;
    top: 8px;
    right: 17px;
    background-image: url('https://github.com/hwet-j/rego/assets/125880480/96f02df3-c3b3-4a2c-98aa-5e7de86886a9');
    background-size: cover; /* 이미지를 버튼에 맞게 조절 */
    background-position: center; /* 이미지를 가운데로 정렬 */
    width: 30px;
    height:30px;
    padding: 5px;
    border-radius: 5px;

    background-repeat: no-repeat;
}

.preview-button img {
    width: 10px;
}

#modifyButton{
    position: absolute;
    bottom: 15px;
    right: 8px;
    font-size:13px;
    color: black;
    height: 28px;
    background-color: transparent;
}

.buttonBox{
    height: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 25px 0px 0px;
}/*버튼*/


.savebtn{
        display: inline-block;
        width: 90px;
        height:20px;
        margin: 10px;
        margin-top: 25px; /* 버튼을 아래로 내리는 여백 추가 */
        padding: 10px 15px; /* 버튼 내부 여백 설정 */
        border: 2px solid transparent; /* 테두리 설정 */
        border-radius: 15px; /* 모서리를 둥글게 만들기 */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s; /* 버튼 색상 변경 시 부드러운 전환 효과 추가 */
        font-size: 14px; /* 글자 크기 설정 */
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #FFFFFF; /* 배경색 설정 */
        border-color: #59BAFF;
        color: #000000; /* 글자색 설정 */
}

a.savebtn {
    color: #59BAFF; /* 원하는 색상으로 변경 */
}

a.savebtn:hover {
    color: #FFFFFF; /* 원하는 색상으로 변경 */
}


/* 버튼에 호버 시 테두리 색상 변경 */
.savebtn:hover {
    border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
    background-color: #59BAFF;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}



.savebtn:focus {
      border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
      background-color: #59BAFF;
      transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */

}


.deletebtn{
    display: inline-block;
    width: 90px;
    height:20px;
    margin: 10px;
    margin-top: 25px; /* 버튼을 아래로 내리는 여백 추가 */
    padding: 10px 15px; /* 버튼 내부 여백 설정 */
    border: 2px solid transparent; /* 테두리 설정 */
    border-radius: 15px; /* 모서리를 둥글게 만들기 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 버튼 색상 변경 시 부드러운 전환 효과 추가 */
    font-size: 14px; /* 글자 크기 설정 */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF; /* 배경색 설정 */
    border-color: #da0035;
    color: #000000; /* 글자색 설정 */
}

a.deletebtn {
    color: #da0035; /* 원하는 색상으로 변경 */
}

a.deletebtn:hover {
    color: #FFFFFF; /* 원하는 색상으로 변경 */
}


/* 버튼에 호버 시 테두리 색상 변경 */
.deletebtn:hover {
    border-color: #da0035; /* 호버 시 테두리 색상 설정 */
    background-color: #da0035;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}



.deletebtn:focus {
    border-color: #da0035; /* 호버 시 테두리 색상 설정 */
    background-color: #da0035;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */

}