@charset "UTF-8";



body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}


h1, h2 {
    margin: 100;
    margin-left: 80px;
    padding: 0;
    text-align: left;
}


.background {
    background-color:#1b4995;
    opacity:0.5;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-998;

}

.background2 {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-999;
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
}

.nav {
    left: 110px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    background-color: white;
    width: 1700px;
    height: 80px;
    position:fixed;
    top: 0px;

        position: absolute;
        /* 다른 스타일 속성들 유지 */
    }

        a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

        a:link, a:visited, a:hover, a:active, a:focus {
        color: inherit; /* 상속받은 색상을 사용합니다. */
        outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
}

.container {
    max-width: 1660px;
    height:88%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    z-index: 100;
    border-radius: 0 0 20px 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question Styles */
.title {
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 500px;
    height: 150px; /* 높이를 고정값으로 설정 */
    margin-left: 80px;
    margin-top: 10px;
    overflow: hidden; /* 내용이 카드를 넘어갈 때 숨김 처리 */
}

.card-body {
    overflow: auto; /* 세로 스크롤바를 표시하도록 설정 */
    max-height: 100%; /* 카드 내부 컨텐츠를 카드 높이 내에서 스크롤 */
}

.card-body::-webkit-scrollbar {
    width: 1px; /* 스크롤바의 너비를 조절 */
}

.card-body::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 23%);
}

.card-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: break-word;
}


.card-text p {
    margin-bottom: 15px;
}


.text-below {
    margin-top: 50px; /* 텍스트를 10px 아래로 이동시킴 */
}

.text-below2 {
    margin-top: 30px; /* 텍스트를 10px 아래로 이동시킴 */
}
/* Author Styles */
.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.author-info .badge {
    font-size: 14px;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.author-info .badge span {
    font-weight: bold;
}


/*이미지*/

.tab1-img5{
    float: left;
    width: 650px;
    height: 600px;
    margin-left: 100px;
    margin-top: 70px;
    position: relative;
         overflow: hidden;
         z-index: 900;
}


.tab1-img5 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;

}

.tab1-img5:hover  {
    transform: scale(1.05);
    z-index: 990;
   box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img5:hover .blueScreen {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
    width: 50%; /* 나타날 때 너비를 조절하여 옆에서 나오는 느낌을 만듭니다. */
    right: 0;/* 나타날 때 왼쪽으로 이동합니다. */
}

.tab1-img5 h3 {
    position: absolute;
    top : 85%;
    left: 3%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}

.tab1-img5:hover p {
       opacity: 1;
}

.tab1-img5 p {
    position: absolute;
    left: 52.5%;
    width:40%;
    height: 92%;
    font-size: 11px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
    transition: opacity 0.3s;
}


p {
    margin: 70px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
}


.blueScreen {
    position: absolute;  /* 절대 위치를 사용하여 div를 이미지 위에 배치 */
    top: 0;  /* 상단에서 0px의 위치에 배치 */
    right:-100%;  /* 좌측에서 0px의 위치에 배치 */
    width: 0;  /* 너비를 부모 div에 맞게 조절 */
    height: 100%;  /* 높이를 부모 div에 맞게 조절 */
    background-color: #364E9B;;  /* 파란색 배경. 원하는 색상으로 변경 가능 */
    transition: opacity 0.3s;
    pointer-events: none;
    opacity:0;
    transition: opacity 0.3s,  right 0.2s;
}


.vertical-line {

margin-left: 825px;
position:absolute;
margin-top: 200px;
width:1px;
height:515px;
background-color:#EEEFF2;
z-index:999;

}



.box {
    margin-left : 485px;
    margin-top: -40px;
}

.nameCard {
     margin-left: 90px;
     margin-top: -37px;

}



/* Button Styles */
.btn {
    display: inline-block;
    width: 45px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent; /* 테두리를 투명으로 설정 */
    transition: border-color 0.3s;
    padding: 4px 4px; /* 페이지 아이템 내부 여백 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    border-color: #59BAFF;
    background-color: #FFFFFF;
}

.btn.primary {
    background-color: #007bff;
    color: #fff;
}

.btn.primary:hover {
    background-color: #0056b3;
}

.btn.danger {
    background-color: #dc3545;
    color: #fff;
}

.btn.danger:hover {
    background-color: #c82333;
}

.btn:hover {
       border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
       background-color: #59BAFF;
       transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}

.btn:focus {
      border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
       background-color: #59BAFF;
       transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
       color: #FFFFFF;
}


.edit.btn {
    color: #59BAFF;
    transition: color 0.3s; /* 글자색 전환 효과를 0.3초 동안 적용 */
}


.edit.btn:hover {
    color: white;
}


.delete.btn {
    color: #59BAFF;
    transition: color 0.3s; /* 글자색 전환 효과를 0.3초 동안 적용 */
}


.delete.btn:hover {
    color: white;
}

.qbox {
    margin-left : 407px;
    margin-top: -40px;
}

.my-2 {
     margin-left: 5px;
    margin-top: 10px;
}


.reply-list {
    margin-top: 45px;
    margin-left: 80px;
    max-width: 600px; /* 가로 최대 길이 설정 (원하는 가로 길이로 변경 가능) */
}

.reply-body {
   overflow: auto; /* 세로 스크롤바를 표시하도록 설정 */
    max-height: 110px; /* 원하는 최대 높이 설정 */
    max-width: 431px; /* 가로 최대 길이 설정 (원하는 가로 길이로 변경 가능) */
    margin-top: 50px;
}

.reply-body::-webkit-scrollbar {
    width: 1px; /* 스크롤바의 너비를 조절 */
}

.reply-body::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 23%);
}

.reply-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.reply-text {
    background-color: #f8f9fa;+
    border-radius: 5px;
    padding: 15px;
}

.reply-text p {
    margin-bottom: 10px;
}

/* Form Styles */
#answerForm {
    position: fixed;
    top: 570px;
}


.form-control {
    width: 430px;
    height:110px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.form-control:disabled {
    background-color: #f8f9fa;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }



    .card {
        padding: 15px;
        margin-bottom: 15px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}




.form-control2 {
    width: 100%;
    max-width: 430px; /* 최대 폭 설정 */
    height: 110px;
    padding: 10px;
    font-size: 16px; /* 조금 큰 글꼴 크기 */
    border: 2px solid #ccc; /* 두께를 늘림 */
    border-radius: 8px; /* 더 둥근 모서리 */
    resize: vertical;
    margin-left: 80px; /* 왼쪽 여백 제거 */
    margin-right: auto; /* 오른쪽 여백 제거 */
    display: block;
    background-color: #f8f9fa;
    transition: border-color 0.3s; /* 애니메이션을 추가하여 포커스 시 경계선 색상 변경 */
}


.form-control2:disabled {
    background-color: #f8f9fa;
    border-color: #ccc; /* 비활성화 상태에서 경계선 색상을 회색으로 유지 */
}

.form-control2:focus {
    border-color: #4F54B4; /* 포커스 시 경계선 색상 변경 */
}


.btn[type="submit"][value="답변등록"] {
    color: #59BAFF;
        display: block;
        width: 125px;
        height:45px;
        padding: 10px;
        border: 2px solid color: #59BAFF;
        margin-left: 80px;

}

.btn[type="submit"][value="답변등록"]:hover {
    color: #FFFFFF;
}


.left-side {
   float: left;
    width: 700px;
    margin-top: 35px;
    margin-right: 125px;
}


.right-side {
    float: left;
    height: 710px;
    margin-top: 35px;
}