@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}


.background {
    background-color:#1b4995;
    opacity:0.5;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-998;

}

.background2 {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-999;
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
}


.nav {
    left: 102px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    background-color: white;
    width: 1700px;
    height: 80px;
    text-align: center;
    position:fixed;
    top: 0px;

        position: absolute;
        /* 다른 스타일 속성들 유지 */
    }

        a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

        a:link, a:visited, a:hover, a:active, a:focus {
        color: inherit; /* 상속받은 색상을 사용합니다. */
        outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
}

.container {

    max-width: 1660px;
    height:88%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    z-index: 100;
    border-radius: 0 0 20px 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.bbox{
    margin-left: 50px; /* 왼쪽으로 50px 이동 */
    margin-top: 101px;
}

/* 제목 스타일 */
h1.box {
    font-size: 30px;
    color: #464DB7;
    margin-bottom: -100px;
    margin-left: 280px;
    margin-top: 50px;
}


.fieldset {

    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}



/* 폼 스타일 */
#questionForm {
    margin-left: 120px;
    margin-top: 130px;

}

/* 검색 유형 스타일 */
.search-title select {
    width: 510px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;

}

/* 입력 상자 스타일 */
.input-content {
    width: 510px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    outline: none;
}

/* 텍스트 영역 스타일 */
.textarea-content {
    width: 510px;
    height:255px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    outline: none;

}


/* 컨택트 반응형 */
@media (max-width:600px){
    .contact {
        padding:0 30px;
    }

    .contact > .contact-con {
        min-height:100px;
    }

    .contact > .contact-con > .inner-txt > .tt {
        display:none;
    }

    .add-inquiry .inquiry-con > .label-box {
        margin-top:10px;
    }

    .add-inquiry .inquiry-con > .label-box .input-content,
    .add-inquiry .inquiry-con > .label-box .textarea-content {
        margin-top:5px;
    }

    .add-inquiry .inquiry-con > .label-box .submit {
        width:100%;
    }
}




/*이미지*/

.tab1-img5{
    float: left;
    width: 610px;
    height: 560px;
    margin-left: 250px;
    margin-top: 110px;
    position: relative;
    overflow: hidden;
    z-index: 900;
     border-radius: 4%; /* 동그라미 모양으로 만들기 */
}


.tab1-img5 img {
    width: 100%;  /* 이미지의 너비를 div에 맞게 조절 */
    height: 100%;  /* 이미지의 높이를 div에 맞게 조절 */
    object-fit: cover;  /* 이미지의 비율을 유지하면서 div에 맞게 채움 */
    transition: transform 0.3s;
}

.tab1-img5:hover  {
    transform: scale(1.05);
    z-index: 990;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.tab1-img5:hover .blueScreen {
    opacity: 0.7;  /* 호버시 .blueScreen이 보이게 설정 */
}

.tab1-img5 h2 {
    position: absolute;
    top : 88%;
    left: 3%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    z-index: 991;
}

.tab1-img5:hover p {
    opacity: 1;
}

.tab1-img5 p {
    position: absolute;
    left: 52.5%;
    width:40%;
    height: 92%;
    font-size: 11px;
    color: white;
    text-align: left;
    z-index: 991;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
    transition: transform 0.3s;
}


p {
    margin: 35px;
    margin-left: 30px;
    padding: 0;
    text-align: left;
}


.blueScreen {
    position: absolute;  /* 절대 위치를 사용하여 div를 이미지 위에 배치 */
    top: 0;  /* 상단에서 0px의 위치에 배치 */
    left: 50%;  /* 좌측에서 0px의 위치에 배치 */
    width: 50%;  /* 너비를 부모 div에 맞게 조절 */
    height: 100%;  /* 높이를 부모 div에 맞게 조절 */
    background-color: #364E9B;;  /* 파란색 배경. 원하는 색상으로 변경 가능 */
    transition: opacity 0.3s;
    pointer-events: none;
    opacity:0;
}

.vertical-line {

    margin-left: 825px;
    position:absolute;
    margin-top: 200px;
    width:1px;
    height:515px;
    background-color:#EEEFF2;
    z-index:999;

}





/* 버튼 스타일 */
.btn {
    display: block;
    width: 125px;
    height:45px;
    padding: 10px;
    margin: 385px;
    margin-left: 385px;
    border: 2px solid transparent; /* 테두리를 투명으로 설정 */
    transition: border-color 0.3s; /* 테두리 색상 변경 시 부드러운 전환 효과 추가 */
    border-radius: 5px; /* 모서리를 둥글게 만들기 */
    padding: 8px 8px; /* 페이지 아이템 내부 여백 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    border-color: #59BAFF;
    background-color: #FFFFFF;
}

.btn[type="submit"][value="작성완료"] {
    color: #59BAFF;
}

.btn:hover {
       border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
       background-color: #59BAFF;
       transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}

/* 버튼에 포커스 시 테두리 색상 변경 */
.btn:focus {
      border-color: #59BAFF; /* 호버 시 테두리 색상 설정 */
       background-color: #59BAFF;
       transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
       color: #FFFFFF;
}

.btn[type="submit"][value="작성완료"]:hover {
    color: #FFFFFF;
}

.left-side {
   float: left;
    width: 700px;
    margin-top: 35px;
}

.right-side {
    float: left;
    height: 710px;
    margin-top: 35px;
}
