@charset "UTF-8";
h2 { font-weight: normal; }
.hr1 { border: 0;
height: 2px;
background:  #d3d3d3;}
    .grey {
     color: #727272;}
     #strong { font-weight: 900;}

       .table {
               width: 100%;
               border-collapse: collapse;
               margin-top: 20px;
               border-top: 1px solid #d3d3d3;
               border-collapse: collapse;

           }
            th { background-color: #d3d3d3 ;
            border-top: 3px solid #727272;
            }
            th, td {
            border-bottom: 1px solid #d3d3d3;
            padding: 10px;
            }

  .greylist {
  width: 50px;
  height: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  background: grey;
  border: solid 2px white;
  border-radius: 5px;
  }
  .gradient {
  width: 80px;
  height: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  background: linear-gradient( to bottom, grey, black );
  border: solid 2px white;
  border-radius: 5px;
  }

            .left {text-align: left;}
            .right {  float: right;}
            .center { text-align: center;}




/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;

}

.layout {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1.box {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* 테이블 스타일 */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


/* 링크 스타일 */
a {
    text-decoration-line : none;
    text-decoration: none;
    color: #007bff;
    text-color:#212121;
}

a:hover {
    text-decoration: underline;
}

/* 페이지네이션 스타일 */
.pagenation {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
}

.page-item {

    list-style: none;
    display: inline;
    margin-right: 5px;
}

.page-link {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #ccc;
}


.Btn{
       display: block;
        width: 100%;
        padding: 10px;
        margin: 5px;
        transition: border-color 0.3s; /* 테두리 색상 변경 시 부드러운 전환 효과 추가 */
        border-radius: 5px; /* 모서리를 둥글게 만들기 */
        font-weight: bold; /* 폰트 굵기 설정 */
        font-size: 16px;
        text-align: right;
        text-color:
        cursor: pointer;
        margin-top: 20px;
}


/* 버튼에 호버 시 테두리 색상 변경 */
.btn:hover {
    border-color: #0056b3; /* 호버 시 테두리 색상 설정 */
     transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}



.Btn:focus {
    border-color: #0056b3; /* 포커스 시 테두리 색상 설정 */
    outline: none; /* 포커스 테두리 제거 */
}





