<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>항공</title>
</head>
<body>
<response>
    <header>
        <resultCode>00</resultCode>
        <resultMsg>NORMAL SERVICE.</resultMsg>
    </header>
    <body>
    <items>
        <item>
            <cityChn>TRENTON MERCER</cityChn>
            <cityCode>TTN</cityCode>
            <cityEng>TRENTON MERCER</cityEng>
            <cityJpn>TRENTON MERCER</cityJpn>
            <cityKor>트렌턴/트랜턴머서</cityKor>
        </item>
        <item>
            <cityChn>WUXI</cityChn>
            <cityCode>WUX</cityCode>
            <cityEng>WUXI</cityEng>
            <cityJpn>WUXI</cityJpn>
            <cityKor>우시(무석)/우시</cityKor>
        </item>
        <item>
            <cityChn>KANDAHAR</cityChn>
            <cityCode>KDH</cityCode>
            <cityEng>KANDAHAR</cityEng>
            <cityJpn>KANDAHAR</cityJpn>
            <cityKor>칸다하르/간다하르</cityKor>
        </item>
        <item>
            <cityChn>BORISPIL</cityChn>
            <cityCode>KBP</cityCode>
            <cityEng>BORISPIL</cityEng>
            <cityJpn>BORISPIL</cityJpn>
            <cityKor>키예프/보리스필</cityKor>
        </item>
        <item>
            <cityChn>PERSIAN GULF</cityChn>
            <cityCode>PGU</cityCode>
            <cityEng>PERSIAN GULF</cityEng>
            <cityJpn>PERSIAN GULF</cityJpn>
            <cityKor>페르시안걸프/페르시안걸프</cityKor>
        </item>
        <item>
            <cityChn>JIAMUSI</cityChn>
            <cityCode>JMU</cityCode>
            <cityEng>JIAMUSI</cityEng>
            <cityJpn>JIAMUSI</cityJpn>
            <cityKor>자무쓰(가목사)/자무쓰</cityKor>
        </item>
        <item>
            <cityChn>CUNNAMULLA</cityChn>
            <cityCode>CMA</cityCode>
            <cityEng>CUNNAMULLA</cityEng>
            <cityJpn>CUNNAMULLA</cityJpn>
            <cityKor>퀸스랜드</cityKor>
        </item>
        <item>
            <cityChn>EL DORADO</cityChn>
            <cityCode>BOG</cityCode>
            <cityEng>EL DORADO</cityEng>
            <cityJpn>EL DORADO</cityJpn>
            <cityKor>보고타/엘도라도</cityKor>
        </item>
        <item>
            <cityChn>CURITIBA</cityChn>
            <cityCode>CWB</cityCode>
            <cityEng>CURITIBA</cityEng>
            <cityJpn>CURITIBA</cityJpn>
            <cityKor>쿠리치바/쿠리티바</cityKor>
        </item>
        <item>
            <cityChn>FIJI</cityChn>
            <cityCode>SUV</cityCode>
            <cityEng>FIJI</cityEng>
            <cityJpn>FIJI</cityJpn>
            <cityKor>피지</cityKor>
        </item>
    </items>
    <numOfRows>10</numOfRows>
    <pageNo>1</pageNo>
    <totalCount>1334</totalCount>
    </body>
</response>
</body>
</html>