<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <script defer th:inline="javascript" th:src="@{/index.global.js}" type="text/javascript"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5xt-0-bficSVL6EP57aQseXSiPx8bx7E&callback=initMap&libraries=&&libraries=geometry&libraries=places"></script>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
    <!-- SweetAlert CDN 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');
            var externalEventsListEl = document.getElementById('external-events-list');


            const detailData = [];
            /* 관광지 목록을 저장할 변수 */
            const attractionData = [];

            /*
            Controller -> Html -> Js 로 받아온 정보 (Html에서 Js로 받아올 경우 String으로 변환되어 온다.
            Controller에서 JSON형식으로 변환하여 전송해 JS에서 String으로 받아온 정보를 JSON타입으로 변환하여 사용한다.
            */

            // HTML로 부터 String 타입으로 데이터를 전달 받는다.
            var detailList = document.getElementById('detailList').getAttribute('data-variable');
            var attractionList = document.getElementById('attractionList').getAttribute('data-variable');
            var detailIdMax = document.getElementById('detailIdMax').getAttribute('data-variable');

            // JSON 타입으로 변환한다. (String의 형식이 JSON형식이여야지 가능하다.)
            var jsonObject2 = JSON.parse(detailList);
            var jsonAttractionList = JSON.parse(attractionList);

            /* 관광지 정보를 관광지ID 값으로 검색하기 위해 객체 생성 */
            jsonAttractionList.forEach(function (attraction) {
                attractionData.push({
                    touristAttractionId : attraction.touristAttractionId.toString(),
                    address : attraction.address.toString(),
                    name : attraction.name.toString(),
                    imageUrl : attraction.image.toString(),
                    introduction : attraction.introduction.toString(),
                    latitude : parseFloat(attraction.latitude),
                    longitude : parseFloat(attraction.longitude),
                    contentType : attraction.contentType.toString(),
                    cityName : attraction.cityName.toString()
                });
            });


            // DB에 있는 정보를 캘린더에 출력하기 위한 객체
            jsonObject2.forEach(function (detail) {
                detailData.push({
                    id:detail.detailPlanId,
                    title: detail.content.toString(),
                    start: detail.startTime,
                    end: detail.endTime,
                    allDay: detail.allDay,
                    touristAttractionId:detail.touristAttractionId,
                });
            });

            /* 계획 생성 시 1씩 증가 */
            let currentEventId = parseInt(detailIdMax);

            function generateEventId() {
                return String(currentEventId++);
            }


            /****************/
            /* 초기 날짜 설정 */
            /****************/
            var today = new Date();

            /*************/
            /* 캘린더 설정 */
            /*************/
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                initialDate: today,                 // 초기 날짜 지정
                eventColor : '#b263ff',             // 이벤트 색상
                // eventBorderColor : '#5c6a96',       // 이벤트 테두리 색상
                navLinks: true,
                selectable: true,
                selectMirror: true,
                select: function (arg) {
                    Swal.fire({
                        title: '일정 관리',
                        html: '<div id="image-preview"><img src="/pictures/base.jpg" style="width: 800px; height:800px;" onerror="this.src=\'/pictures/base.jpg\';"></div>' + getSelectOptions(attractionData) + '<input id="event-title" placeholder="계획을 입력하세요.">',
                        showCancelButton: true,
                        showCloseButton: true,
                        confirmButtonText: '추가',
                        cancelButtonText: '취소',
                        customClass: {
                            popup: 'custom-modal-width',        // 팝업창의 크기를 조절하기 위한 설정(HTML파일에서 Style설정도 해야함)
                        },
                        didOpen: () => {        // 창이 열려있는동안 설정할 작업
                            const eventTypeSelect = document.getElementById('event-type');
                            const selectedImage = document.getElementById('selected-image');

                            eventTypeSelect.addEventListener('change', function () {
                                const selectedValue = eventTypeSelect.value;
                                const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === selectedValue);

                                if (selectedAttraction) {
                                    selectedImage.src = selectedAttraction.imageUrl;
                                } else {
                                    selectedImage.src = '/pictures/base.jpg'; // 선택된 이미지가 없을 경우 기본 이미지 표시
                                }
                            });
                        },
                        preConfirm: () => {         // 확인(수정) 버튼을 눌렀을 때 설정할 작업
                            const eventTitle = document.getElementById('event-title').value;
                            const eventType = document.getElementById('event-type').value;
                            const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === eventType);

                            if (!eventTitle) {
                                Swal.showValidationMessage('계획 정보가 입력되지 않았습니다.');
                            } else {
                                var newId = generateEventId();
                                calendar.addEvent({
                                    title: eventTitle,
                                    start: arg.start,
                                    touristAttractionId:eventType,
                                    end: arg.end,
                                    allDay: arg.allDay,
                                    id: newId,
                                    type: eventType ? eventType : '',
                                    image: selectedAttraction ? selectedAttraction.imageUrl : '',
                                });

                                // Controller에 데이터 전달
                                $.ajax({
                                    type: "POST",
                                    url: "/insertPlan",
                                    data: JSON.stringify({
                                        // detailPlanId     // insert에서 필요없을듯함
                                        touristAttractionId:eventType,  // 임시로 1로 지정
                                        content: eventTitle, // 내용
                                        startTime: arg.start,
                                        endTime: arg.end,
                                        allDay: arg.allDay,
                                    }), // 데이터를 JSON 형식으로 보냄
                                    contentType: "application/json; charset=UTF-8",
                                    dataType: "text",
                                    success: function (response) {
                                        detailData.push({
                                            id: newId, // 새로 생성된 id
                                            title: eventTitle,   // 내용
                                            start: arg.start,
                                            end: arg.end,
                                            allDay: arg.allDay,
                                            touristAttractionId: eventType
                                        });
                                        // 성공적으로 서버에 데이터를 전송한 후 실행할 코드
                                    },
                                    error: function () {
                                        // 오류 처리
                                    }
                                });


                            }
                        },
                    }).then((result) => {
                        calendar.unselect();
                    });

                    const imagePreview = document.getElementById('image-preview');
                    const eventTypeSelect = document.getElementById('event-type');

                    /* 이미지를 변경할때 사용되는 부분 */
                    eventTypeSelect.addEventListener('change', function () {
                        const selectedValue = eventTypeSelect.value;
                        const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === selectedValue);

                        if (selectedAttraction) {
                            imagePreview.innerHTML = `<img src="${selectedAttraction.imageUrl}" alt="${selectedAttraction.name}"  style="width: 800px; height:800px;" onerror="this.src=\'/pictures/base.jpg\';"/>`;
                        } else {
                            imagePreview.innerHTML = `<img src="/pictures/base.jpg" style="width: 800px; height:800px;" onerror="this.src=\'/pictures/base.jpg\';"/>`;
                        }
                    });

                    function getSelectOptions(attractionData) {
                        let selectOptions = '<div><select id="event-type" class="swal2-select"><option value="">선택하지 않음</option>';
                        attractionData.forEach((attraction) => {
                            selectOptions += `<option value="${attraction.touristAttractionId}">${attraction.name}</option>`;
                        });
                        selectOptions += '</select></div>';
                        return selectOptions;
                    }
                },
                eventClick: function (arg) {            // 이벤트를 클릭했을때
                    var eventId = arg.event.id;
                    console.log(eventId);
                    var eventImage = arg.event.extendedProps.image;
                    openDialog(eventId, calendar);
                },
                editable: true,
                dayMaxEvents: true,
                initialView: 'dayGridMonth',        // 초기 달력 상태 (dayGridMonth,timeGridWeek,timeGridDay)
                events: detailData,
                eventReceive: function (info) {
                    var newEvent = info.event;
                    var newId= generateEventId();
                    newEvent.setProp('id', newId);
                    newEvent.setExtendedProp('touristAttractionId', info.event._def.extendedProps.touristAttractionId);

                    const originalStart = new Date(info.event._instance.range.start);
                    const modifiedStart = new Date(originalStart.getTime() - (9 * 60 * 60 * 1000));

                    const originalEnd = new Date(info.event._instance.range.end);
                    const modifiedEnd = new Date(originalEnd.getTime() - (9 * 60 * 60 * 1000));

                    console.log(info);
                    $.ajax({
                        type: "POST",
                        url: "/insertPlan",
                        data: JSON.stringify({
                            touristAttractionId:info.event._def.extendedProps.touristAttractionId,  // 임시로 1로 지정
                            content: info.event._def.title, // 내용
                            startTime: modifiedStart,
                            endTime: modifiedEnd,
                            allDay: info.event._def.allDay,
                        }), // 데이터를 JSON 형식으로 보냄
                        contentType: "application/json; charset=UTF-8",
                        dataType: "text",
                        success: function (response) {
                            detailData.push({
                                id: newId, // 새로 생성된 id
                                title: info.event._def.title,   // 내용
                                start: modifiedStart,
                                end: modifiedEnd,
                                allDay: info.event._def.allDay,
                                touristAttractionId: info.event._def.extendedProps.touristAttractionId
                            });
                        },
                        error: function () {
                            // 오류 처리
                        }
                    });
                },
                eventDrop : function(event){        // 이벤트를 놓았을때 작동
                    //alert(JSON.stringify(event.event));
                    //console.log(event.event.id);
                    $.ajax({
                        type: "POST",
                        url: "/insertPlan",
                        data: JSON.stringify({
                            detailPlanId:event.event.id,
                            startTime: event.event.start,
                            endTime: event.event.end,
                        }), // 데이터를 JSON 형식으로 보냄
                        contentType: "application/json; charset=UTF-8",
                        dataType: "text",
                        success: function (response) {
                            /* 수정작업이 완료되면 JS의 List정보 수정 */
                            var itemToUpdate = detailData.find(function (item) {
                                return item.id == event.event.id;
                            });

                            if (itemToUpdate) {
                                itemToUpdate.start = event.event.start;
                                itemToUpdate.end = event.event.end;
                            } else {
                                console.error("ID가 " + itemToUpdate + "인 항목을 찾을 수 없음.");
                            }

                        },
                        error: function () {
                            // 오류 처리
                        }
                    });
                },

                eventResize : function(event){        // 이벤트 길이 조절
                    $.ajax({
                        type: "POST",
                        url: "/insertPlan",
                        data: JSON.stringify({
                            detailPlanId:event.event.id,
                            startTime: event.event.start,
                            endTime: event.event.end,
                        }), // 데이터를 JSON 형식으로 보냄
                        contentType: "application/json; charset=UTF-8",
                        dataType: "text",
                        success: function (response) {

                            /* 수정작업이 완료되면 JS의 List정보 수정 */
                            var itemToUpdate = detailData.find(function (item) {
                                return item.id == event.event.id;
                            });

                            if (itemToUpdate) {
                                itemToUpdate.start = event.event.start;
                                itemToUpdate.end = event.event.end;
                            } else {
                                console.error("ID가 " + itemToUpdate + "인 항목을 찾을 수 없음.");
                            }

                        },
                        error: function () {
                            // 오류 처리
                        }
                    });
                },

            });

            calendar.render();


            /************************************************/
            /* 작성된 계획을 클릭하여 수정 또는 삭제 작업을 위한 함수 */
            /************************************************/
            function openDialog(eventId, calendar) {
                const selectedPlan = detailData.find((plan) => plan.id == eventId);
                const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId == selectedPlan.touristAttractionId);

                Swal.fire({
                    title: '일정 관리',
                    html: `
                            <div id="image-preview">
                                <img src="${selectedAttraction.imageUrl}" alt="Selected Image" style="width: 800px; height: 800px;" onerror="this.src='/pictures/base.jpg';">
                            </div>
                            ${getSelectOptions(attractionData, selectedAttraction.touristAttractionId)}
                            <input id="event-title" class="swal2-input" value="${selectedPlan.title}" placeholder="계획을 입력하세요."/>
                        `,
                    showCancelButton: true,
                    showDenyButton: true,
                    showCloseButton: true,
                    confirmButtonText: '수정',
                    denyButtonText: `삭제`,
                    cancelButtonText: '취소',
                    customClass: {
                        popup: 'custom-modal-width',
                    },
                    didOpen: () => {
                        const eventTypeSelect = document.getElementById('event-type');
                        const selectedImage = document.getElementById('selected-image');

                        eventTypeSelect.addEventListener('change', function () {
                            const selectedValue = eventTypeSelect.value;
                            const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === selectedValue);

                            if (selectedAttraction) {
                                selectedImage.src = selectedAttraction.imageUrl;
                            } else {
                                selectedImage.src = '/pictures/base.jpg'; // 선택된 이미지가 없을 경우 기본 이미지 표시
                            }
                        });
                    },
                    preConfirm: () => {
                        const newEventTitle = document.getElementById('event-title').value;
                        const selectedAttractionId = document.getElementById('event-type').value;
                        const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === selectedAttractionId);

                        if (!newEventTitle) {
                            Swal.showValidationMessage('계획 정보가 입력되지 않았습니다.');
                        } else {
                            // 수정된 이벤트 제목과 이미지를 적용
                            const event = calendar.getEventById(eventId);

                            event.setProp('title', newEventTitle);
                            event.setExtendedProp('image', selectedAttraction ? selectedAttraction.imageUrl : '');

                            calendar.refetchEvents();

                            /* 수정 */
                            $.ajax({
                                type: "POST",
                                url: "/insertPlan",
                                data: JSON.stringify({
                                    detailPlanId:eventId,
                                    touristAttractionId:selectedAttractionId,
                                    content: newEventTitle, // 내용
                                }), // 데이터를 JSON 형식으로 보냄
                                contentType: "application/json; charset=UTF-8",
                                dataType: "text",
                                success: function (response) {

                                    /* 수정작업이 완료되면 JS의 List정보 수정 */
                                    var itemToUpdate = detailData.find(function (item) {
                                        return item.id == eventId;
                                    });

                                    if (itemToUpdate) {
                                        itemToUpdate.title = newEventTitle;
                                        itemToUpdate.touristAttractionId = selectedAttractionId;

                                    } else {
                                        console.error("ID가 " + itemToUpdate + "인 항목을 찾을 수 없음.");
                                    }

                                },
                                error: function () {
                                    // 오류 처리
                                }
                            });
                        }
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        // 수정 버튼 클릭 시
                        // 수정 로직이 이미 preConfirm 함수에서 처리되었으므로 따로 처리할 내용은 없습니다.
                    } else if (result.dismiss === Swal.DismissReason.isDenied) {
                        // 삭제 버튼 클릭 시, 이벤트 삭제
                        const event = calendar.getEventById(eventId);
                        event.remove();

                        $.ajax({
                            type: "POST",
                            url: "/deletePlan",
                            data: {
                                detailPlanId:eventId,
                            }, // 데이터를 JSON 형식으로 보냄
                            success: function (response) {

                            },
                            error: function () {
                                // 오류 처리
                            }
                        });
                    }
                });

                const imagePreview = document.getElementById('image-preview');
                const eventTypeSelect = document.getElementById('event-type');


                eventTypeSelect.addEventListener('change', function () {
                    const selectedValue = eventTypeSelect.value;
                    const selectedAttraction = attractionData.find((attraction) => attraction.touristAttractionId === selectedValue);

                    if (selectedAttraction) {
                        imagePreview.innerHTML = `<img src="${selectedAttraction.imageUrl}" alt="${selectedAttraction.name}"  style="width: 800px; height:800px;" onerror="this.src='/pictures/base.jpg';"/>`;
                    } else {
                        imagePreview.innerHTML = `<img src="/pictures/base.jpg" style="width: 800px; height:800px;" onerror="this.src='/pictures/base.jpg';"/>`;
                    }
                });

                function getSelectOptions(attractionData, attrationId) {
                    let selectOptions = '<div><select id="event-type" class="swal2-select"><option value="">선택하지 않음</option>';
                    attractionData.forEach((attraction) => {
                        selectOptions += `<option value="${attraction.touristAttractionId}"${attrationId === attraction.touristAttractionId ? ' selected' : ''}>${attraction.name}</option>`;
                    });
                    selectOptions += '</select></div>';
                    return selectOptions;
                }
            }


        });

    </script>



    <script>
        <!-- 관광지를 도시별로 검색 -->
        document.addEventListener("DOMContentLoaded", function () {
    var searchSelect = document.getElementById("searchSelect");
    var externalEventsList = document.getElementById("external-events-list");
    var contentTypeButtons = document.querySelectorAll(".content-type-button");

    // 선택된 contentType 값을 초기화
    var selectedContentType = "";

    // 각 contentType 버튼에 대한 클릭 이벤트 리스너 등록
    contentTypeButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            selectedContentType = button.getAttribute("data-content-type");
            // 버튼을 클릭할 때 선택된 contentType 값을 저장
            fetchData(); // 버튼 클릭 시 데이터 가져오는 함수 호출
        });
    });

    // 페이지 로딩 시 자동으로 데이터를 가져오도록 함수 호출
    fetchData();

    // 데이터를 가져와서 external-events 업데이트하는 함수
    function fetchData() {
        var selectedKeyword = searchSelect.value; // 선택된 검색어 가져오기

        // 서버로 선택된 검색어와 contentType 값을 전송하고 결과를 받아올 수 있는 AJAX 요청 보내기
        $.ajax({
            url: '/selectAttraction?keyword=' + selectedKeyword + '&contentType=' + selectedContentType, // 서버의 URL
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // 받아온 JSON 데이터를 사용하여 external-events 업데이트
                externalEventsList.innerHTML = ""; // 기존 목록 비우기

                for (var i = 0; i < data.length; i++) {
                    var attraction = data[i];
                    // external-events를 업데이트하는 로직을 작성
                    var eventHtml = '<div class="fc-event" data-image="' + attraction.image + '" ' +
                        'data-title="' + attraction.name + '">' +
                        '<img style="width:200px; height:200px;" src="' + attraction.image + '">' +
                        '<div style="text-align: center;">' + attraction.name + '</div>' +
                        '</div>';

                    var draggableEl = document.createElement('div');
                    draggableEl.innerHTML = eventHtml;
                    externalEventsList.appendChild(draggableEl);

                    // 드래그 가능한 외부 이벤트로 만들기
                    var draggableEvent = new FullCalendar.Draggable(draggableEl, {
                        eventData: {
                            title: attraction.name,
                            image: attraction.image,
                            touristAttractionId: attraction.touristAttractionId,
                        }
                    });
                }
            },
            error: function () {
                console.error('데이터를 가져오는 중에 오류가 발생했습니다.');
            }
        });
    }
});

    </script>




    <style>
        /* SweetAlert창 크기 */
        .custom-modal-width {
            width: 1000px;
        }

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 3px 0;
            cursor: move;
        }

        #calendar {

            width: 500px;
            height: 500px;
            margin: 0 auto;
        }

        .contain {
            display: flex;
            margin: 100px;
        }

        #map {
            flex: 1;
            width: 500px;
            height: 500px;
        }
        #wrap,#searchSelect {
            margin:0px 0px 0px 100px;
        }

        #calendar-wrap {
            flex: 1;
        }

        #searchResults {
            background-color: rgba(255, 255, 255, 0.9); /* 흰 배경색 및 투명도 설정 */
            border: 1px solid #ccc; /* 테두리 설정 */
            border-radius: 5px; /* 둥근 테두리 설정 */
            padding: 10px; /* 내부 여백 설정 */
            max-height: 300px; /* 최대 높이 설정 (내용이 너무 길 경우 스크롤 표시) */
            overflow-y: auto; /* 세로 스크롤바 표시 (내용이 길 경우) */
        }

        /* 알림창 내용 input 태그  */
        #event-title {
            width: 80%;
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div id="detailList" th:data-variable="${detailPlan}"></div>
<div id="mallList" th:data-variable="${touristAttractionListJson}"></div>
<div id="attractionList" th:data-variable="${attractionList}"></div>
<div id="detailIdMax" th:data-variable="${detailIdMax}"></div>






<div class="contain" style="display: flex;">
    <div id="map-container" style="position: relative;">
        <!-- 검색창 -->
        <input id="searchInput" placeholder="장소 검색" style="position: absolute; top: 10px; left: 10px; z-index: 1;"
               type="text">
        <button id="searchButton" style="position: absolute; top: 10px; left: 190px; z-index: 1;">검색</button>
        <button id="cancelButton" style="position: absolute; top: 10px; left: 240px; z-index: 1; display: none;">검색 취소
        </button>
        <ul id="searchResults" style="position: absolute; top: 50px; left: 10px; z-index: 1; display: none;"></ul>
        <!-- 지도 -->
        <div id="map"></div>
    </div>

    <div id='calendar-wrap'>
        <div id='calendar'></div>
    </div>
</div>


<select id="searchSelect">
    <option th:text="'전체'" value="">전체</option>
    <option th:each="city : ${cityList}"
            th:text="${city}"
            th:value="${city}"></option>
</select>


<div id="searchResult"></div>

<div id='wrap' style="display: flex;  overflow-x: auto;">
    <div style="margin-top:10px;">
        <button class="content-type-button" data-content-type="관광지" id="tourAttraction" style="width:100px; height:70px;">관광지</button><br>
        <button class="content-type-button" data-content-type="식당" id="restaurant" style="width:100px; height:70px;">식당</button><br>
        <button class="content-type-button" data-content-type="호텔" id="hotel" style="width:100px; height:70px;">호텔</button>
    </div>
    <div id='external-events' style="margin:10px;">
        <div id='external-events-list' style="display: flex; flex-direction: row; overflow-x: auto;">
        </div>
    </div>
</div>

</body>
</html>