<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<body>

<div th:if="${user == null}">
	<div>..............소셜연동을 통해서만 회원가입 가능.............</div>
</div>

<div th:if="${user != null}">

	<form action="/joinProc" th:object="${joinForm}" method="post">
		<div>
			<input type="email" name="email" th:value="${user.getEmail()}" readonly/>
		</div>


		<div>
			<label for="nickname"></label>
			<input type="text" th:field="*{nickname}" placeholder="닉네임 입력"/>
		</div>
		<div style="color:red;" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error"></div>

		<div>
			<label for="password"></label>
			<input type="password" th:field="*{password}" placeholder="비밀번호 입력"/>
		</div>
		<div style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

		<div>
		<label for="birthDate">생년월일:</label>
		<input type="date" th:field="*{birthDate}" >
		</div>
		<div style="color:red;" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div><br><br>

		<div>
		<label for="gender">성별:</label>
		<select th:field="*{gender}" >
			<option value="남자">남자</option>
			<option value="여자">여자</option>
		</select>
		</div>
		<div style="color:red;" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div><br><br>


		<button>회원가입</button>
	</form>

</div>
</body>
</html>