<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">

    <style>
        a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

        a:link, a:visited, a:hover, a:active, a:focus {
        color: inherit; /* 상속받은 색상을 사용합니다. */
        outline: none; /* 클릭 시에 표시되는 외곽선 제거 */
    }
    </style>


</head>
<body>
<!--<h1 th:text="${data}"></h1>-->
<div class="loading" style="display: none;"></div>
<div class="content">
    <div class="nav"
         style="z-index:999; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); padding-bottom: 15px; background-color: white; width: 1700px; height: 73px;  text-align: center; position:fixed; top: 0px;">

        <ul class="" style="list-style-type:none;">
            <li class="">
                <!-- 타임리프의 security이용
                sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
                sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
                -->
                <a class="logo" th:href="@{/}"><img src="/img/logo.png"
                                                    style="float: left; width: 63px; height: 58px; margin-left: 10px; background-repeat: no-repeat;"></a>


                <div class="nav-left"
                     style="float:left;   margin-left: 460px; margin-top: 19px;  font-size: 20px;  font-family: 'Roboto', sans-serif; font-weight: 500;">
                    <a href="#airportSection"
                       style="margin-right: 50px; color:#4F54B4;">AIRPORT</a>
                    <a href="#startPlanSection"
                       style="margin-right: 50px; color:#4F54B4;">START PLAN</a>
                    <a href="#recommendSection"
                       style="margin-right: 50px; color:#4F54B4;">RECOMMEND</a>
                    <a href="#aboutSection"
                       style="color:#4F54B4;">ABOUT</a>
                </div>
                <div class="nav-right"
                     style="float:right;    margin-right: 35px; margin-top: 27px;  font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 600;">

                    <a class="" th:href="@{/notice/list}"
                       style="margin-right: 20px; color:#4F54B4;">공지사항</a>
                    <a class="" th:href="@{/question/list}"
                       style="margin-right: 20px; color:#4F54B4;">고객센터</a>
                    <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/login}"
                       style="margin-right: 20px; color:#4F54B4;">로그인</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/myPage}"
                       style="margin-right: 20px; color:#4F54B4;">마이페이지</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/logout}"
                       style="margin-right: 20px; color:#4F54B4;">로그아웃</a>
                    <a class="" sec:authorize="hasRole('ADMIN')" th:href="@{/}"
                       style="color:#4F54B4;">ADMIN</a>
                </div>
            </li>

        </ul>
        <div>

        </div>
    </div>
    <!-- nav끝   -->

    <div id="airportSection"></div>
    <div class="middle-box">
        <div class="slider-controls">
            <button id="prevSlide"></button>

            <div class="slider">
                <img class="slide" src="img/slide1.png" alt="Image 1">
                <img class="slide" src="img/slide2.png" alt="Image 2">
                <img class="slide" src="img/slide3.png" alt="Image 3">
                <img class="slide" src="img/slide4.png" alt="Image 4">
                <img class="slide" src="img/slide5.png" alt="Image 5">
            </div>

            <button id="nextSlide"></button>
        </div>
        <div class="slider-indicators">
            <!-- JavaScript로 인디케이터를 동적으로 추가합니다. -->
        </div>


        <form action="/flightResult" method="get" class="flight">
            <div class="flight-content">
                <div class="flight-box">Departures</div>
                <div class="flight-box">Arrivals</div>
                <div class="flight-box">Outbound Flight</div>
                <div class="flight-box">Return Flight</div>
                <!-- 출발 공항 선택 -->
                <label for="departureAirport"></label>
                <select name="departureAirport" id="departureAirport">
                    <option value="ICN">인천</option>
                </select>


                <!-- 도착 공항 선택 -->
                <label for="arrivalAirport"></label>
                <select name="arrivalAirport" id="arrivalAirport">
                    <option value="PAR">파리</option>
                    <option value="LYS">리용</option>
                    <option value="MRS">마르세이유</option>
                    <option value="ROM">로마</option>
                    <option value="NAP">나폴리</option>
                    <option value="TYO">도쿄</option>
                    <option value="OSA">오사카</option>
                    <option value="SPK">삿포로</option>
                    <option value="FUK">후쿠오카</option>
                    <option value="BCN">바르셀로나</option>
                    <option value="MAD">마드리드</option>
                    <option value="VLC">발렌시아</option>
                    <option value="NYC">뉴욕</option>
                    <option value="SFO">샌프란시스코</option>
                    <option value="CHI">시카고</option>

                </select>

                <!-- 출발 날짜 선택 -->
                <label for="departureDate"></label>
                <input type="text" class="departureDate" id="departureDate" name="departureDate"
                       onchange="formatDate(this)" required autocomplete="off">

                <!-- 도착 날짜 선택 -->
                <label for="arrivalDate"></label>
                <input type="text" class="arrivalDate" id="arrivalDate" name="arrivalDate" onchange="formatDate(this)"
                       required autocomplete="off">
                <!-- 제출 버튼 -->
                <input type="submit" value="FIND NOW" class="submit-btn">
                <div class="arrow"></div>

            </div>

        </form>
        <!-- 슬라이드 부분 끝   -->


        <div id="startPlanSection"></div>
        <div class="middle-content2">

            <div class="content2-header">
                어떤 장소를 가야할까?
            </div>

            <div class="tab-menu">
                <ul class="tab-list">
                    <li class="active" data-tab="tab1">Italy</li>
                    <li data-tab="tab2">France</li>
                    <li data-tab="tab3">Japan</li>
                    <li data-tab="tab4">Spain</li>
                    <li data-tab="tab5">USA</li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tabcontent active" ><a th:href="@{/main/detail}"></a>
                        <div class="tab1-img1"><h2>베네치아</h2>
                            <p>베네치아는 이탈리아의 도시로서, 그 유명한 수도로서도 알려져 있습니다. 이 도시는 아드리아 해의 북쪽 끝에 위치하며, 수십 개의 작은 섬들과 여러 개의 운하로
                                연결된 고유한 지리적 특징을 가지고 있습니다. 이러한 특징으로 인해 베네치아는 "물의 도시" 또는 "운하의 도시"로 불립니다.<br/><br/>

                                베네치아는 그 독특한 건축물과 예술 작품으로 유명하며, 특히 세계적으로 유명한 성당인 세인트 마크 성당과 도심의 운하를 따라 건설된 아름다운 건물들로
                                유명합니다. 또한 베네치아는 가로등의 불빛이 반사되는 유명한 수로인 그랑드 캐널(Grand Canal)을 가지고 있으며, 이를 통해 고전적인 골동품 가게,
                                레스토랑, 카페, 아트 갤러리 등이 나열되어 있습니다.<br/><br/>

                                베네치아는 역사적으로 중요한 도시로서 중세 시대에는 상업과 예술의 중심지로 번성했습니다. 현재는 관광객들에게 인기 있는 명소로, 그 아름다운 아치텍처, 예술
                                작품, 그리고 로맨틱한 운하들을 즐기러 오는 방문객들이 많습니다. 또한, 베네치아의 고유한 수중 교통 수단인 '바포레토'도 이 도시를 탐험하는 재미있는 경험이
                                될 것입니다.</p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Italy/benecia.webp">
                        </div>
                        <div class="tab1-center">
                            <div class="tab1-start">
                                <div class="tab1-start-box">
                                    <h1>PLAN ITINERARY</h1>
                                    <P>PLANIT과 함께 당신만의 여행일정을<br/> 계획해보세요!</P>
                                    <div class="start-btn"><a class="start-plan-btn" th:href="@{/plan/list}">START
                                        PLAN</a></div>
                                </div>
                            </div>


                            <div class="tab1-img2"><h2>나폴리</h2>
                                <p>나폴리는 이탈리아 남부에 위치한 도시로, 지중해 연안에 있습니다. 이 도시는 아름다운 해안선과 역사적으로 풍부한 유산으로 유명합니다.<br/><br/>

                                    나폴리는 그 유명한 피자의 고향으로 알려져 있으며, 이곳에서 맛볼 수 있는 피자는 전 세계적으로 유명합니다. 광장 주변에는 역사적인 건축물과 아름다운
                                    성당들이 자리하고 있습니다.</p>
                                <div class="blueScreen2"></div>
                                <img src="/css/mainCountry/Italy/napoli.avif">
                            </div>
                        </div>
                        <div class="tab1-img3"><h2>피사</h2>
                            <p>
                                피사(Pisa)는 이탈리아의 중부 지역인 토스카나(Tuscany)에 위치한 중요한 도시로, 그 유명한 피사의 사탑(Tower of Pisa)으로 유명합니다.
                                이 도시는 아르노 강(Arno River)의 근처에 있으며, 중세 시대의 건축물과 역사적인 유산으로 가득 차 있습니다.<br/><br/>

                                피사의 주요 관광 명소 중 하나는 피사의 사탑으로, 이 건물은 기울어진 건축물로 유명합니다. 12세기에 건설되었으며, 지금까지도 그 기울임의 원인으로 많은
                                관심을 받고 있습니다. 피사의 사탑은 피사의 대성당 광장에 있으며, 대성당, 성당물리관, 성벽 등과 함께 아름다운 중세 건축물의 일부입니다.<br/><br/>
                            </p>
                            <div class="blueScreen2"></div>
                            <img src="/css/mainCountry/Italy/pisa.jpg">
                        </div>
                        <div class="tab1-img4"><h2>로마</h2>
                            <p>로마는 이탈리아의 수도이자 역사적으로도 매우 중요한 도시로, 그 유명한 로마 제국의 중심지로서 전 세계에서 많은 관광객과 학자들이 찾는 곳입니다. 로마는 그
                                유적, 예술, 문화, 그리고 역사적인 중요성으로 유명하며, 이 도시의 건축물과 유산은 오랜 세월 동안 이곳을 방문하는 이들을 매료시킵니다.<br/><br/>

                                로마의 주요 관광 명소 중 하나는 콜로세움(Colosseum)입니다. 이는 로마 제국 시대에 사용된 대형 경기장으로, 고대 로마의 긴장과 문화를 엿볼 수 있는
                                곳입니다. 또한 판테온(Pantheon), 로마 제국의 역사적인 유산인 로마 포럼(Roman Forum), 시스티나 성당(Sistine Chapel)의 천장
                                화가 미켈란젤로(Michelangelo)의 작품, 스페인 광장(Spanish Steps), 트레비 분수(Trevi Fountain) 등도 로마에서 볼 만한
                                명소 중 일부입니다.</p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Italy/rome.jpg">
                        </div>
                        <div class="tab1-img5"><h2>피렌체</h2>
                            <p>피렌체(Florence)는 이탈리아의 중부 토스카나(Tuscany) 지역에 위치한 아름다운 도시로, 예술과 문화의 중심지로서 유명합니다. 이 도시는 이탈리아
                                르네상스(Renaissance)의 탄생지로서, 많은 유명한 예술가와 작품들을 탄생시킨 곳으로 알려져 있습니다.<br/><br/>

                                피렌체의 주요 관광 명소 중 하나는 '우피치 갈러리(Uffizi Gallery)'입니다. 이 갤러리는 세계적인 화가들의 작품을 소장한 곳으로, 보통 르네상스
                                예술의 명작들을 감상할 수 있습니다. '피렌체 대성당(Florence Cathedral)'는 뚜르네 메종(Metropolitan Cathedral of
                                Saint Mary of the Assumption)로도 불리며, 그 아름다운 돔 구조와 예술적 장식으로 유명합니다. '피트치 궁전(Pitti
                                Palace)'과 '보벨로 정원(Boboli Gardens)'은 르네상스 시대의 궁전과 정원으로, 아름다운 조각과 조경을 즐길 수 있습니다.<br/><br/>

                                또한 피렌체는 '다비디(David)'와 같은 미켈란젤로(Michelangelo)의 작품이 있는 '아카데미 갤러리(Academy Gallery)'도 가지고
                                있으며, 레오나르도 다 빈치(Lionardo da Vinci)의 작품도 소장한 '국립 레오나르도 다 빈치 박물관(National Museum of
                                Leonardo da Vinci)'도 있습니다.<br/><br/>
                                피렌체는 또한 아름다운 강 '아르노 강(Arno River)'을 따라 거리를 걸어다니며 로맨틱한 분위기를 느낄 수 있는 도시입니다. 이탈리안 요리와 와인
                                문화도 피렌체에서 풍부하며, 현지 레스토랑에서 토스카나 지역의 특색 있는 요리를 맛볼 수 있습니다. 피렌체는 예술과 아름다움을 사랑하는 이들에게 꼭 가볼 만한
                                곳 중 하나입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Italy/pirenche.jfif">
                        </div>
                    </div>

                    <div id="tab2" class="tabcontent">
                        <div class="tab1-img1"><h2>보르도</h2>
                            <p>보르도(Bordeaux)는 프랑스의 남서 지역에 위치한 도시로, 와인으로 유명한 지역으로 알려져 있습니다. 이 지역은 브루고드(Bordeaux) 지방 와인을
                                생산하는 중심지로, 세계적으로 고품질의 와인을 생산하는 지역 중 하나로 인정받고 있습니다.<br/><br/>

                                보르도는 아름다운 강 '가론느 강(Garonne River)'의 남안에 자리하고 있으며, 그 주변에는 포도밭과 와인 양조장이 넓게 펼쳐져 있습니다. 이곳은
                                와인 애호가들과 소비자들을 위한 와인 투어와 시음 행사가 열리는 곳으로, 다양한 와이너리에서는 다양한 종류의 와인을 생산하고 있습니다.<br/><br/>

                                또한 보르도는 그림과 조각 작품 등 예술적인 유산으로도 유명합니다. 보르도 시내에는 아름다운 건축물과 역사적인 건물이 많이 있으며, 가로수가 있는 광장과
                                아름다운 도보 구역으로 특히 유명합니다. '피터 슈웨틔 플레이스(Place Pey Berland)'와 '보르도 대성당(Bordeaux Cathedral)'은
                                그 중에서도 눈에 띄는 관광 명소 중 하나입니다.<br/><br/>
                                마지막으로, 보르도 주변에는 아키타니아(Aquitaine) 지역의 해변과 해안도 있어 휴양지로도 인기가 있습니다. 보르도는 와인과 예술, 아름다운 풍경을
                                즐기며 프랑스 남서부를 탐험하고자 하는 여행객에게 매력적인 목적지 중 하나입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/France/bordeaux.webp">
                        </div>
                        <div class="tab1-center">
                            <div class="tab1-start">
                                <div class="tab1-start-box">
                                    <h1>PLAN ITINERARY</h1>
                                    <P>PLANIT과 함께 당신만의 여행일정을<br/> 계획해보세요!</P>
                                    <div class="start-btn"><a class="start-plan-btn" th:href="@{/plan/list}">START
                                        PLAN</a></div>
                                </div>
                            </div>
                            <div class="tab1-img2"><h2>리옹</h2>
                                <p>리옹(Lyon)은 프랑스의 도시로, 프랑스 동부 지역에 위치한 중요한 문화적, 역사적 중심지입니다. 이 도시는 강 '소나(Saône)'와
                                    '로뉴(Rhône)'가 만나는 곳에 자리하고 있으며, 풍부한 가정식 요리와 음식 문화로도 유명합니다.<br/><br/>
                                    리옹은 또한 유럽 내륙의 교통 중심지로서, 고속 기차와 고속도로 네트워크가 잘 발달하고 있어 다른 프랑스 도시와 유럽 다른 지역과의 연결성이 뛰어나며,
                                    이를 통해 여행자들에게 편리한 출발점이 됩니다.
                                </p>
                                <div class="blueScreen2"></div>
                                <img src="/css/mainCountry/France/lyon.jpg">
                            </div>
                        </div>
                        <div class="tab1-img3"><h2>파리</h2>
                            <p>파리(Paris)는 프랑스의 수도로서, 세계적으로 유명한 도시 중 하나입니다. 이 도시는 아름다운 건축물, 예술, 문화, 역사, 그리고 로맨스로 가득한 곳으로
                                알려져 있습니다. 파리는 세계적인 관광 명소와 미술 박물관으로 유명하며, '관람객의 도시'로 자주 불립니다.<br/><br/>
                                파리는 또한 세계적으로 유명한 대성당 '노트르담 대성당(Notre-Dame Cathedral)'과 아름다운 광장 '샹젤리제 광장(Place de la
                                Concorde)'을 비롯한 역사적인 건축물들로 가득합니다. '샹제리제 거리(Champs-Élysées)'는 고급 브랜드의 상점과 카페로 유명하며, '카테드랄
                                라쌔 크로아( Cathedral Basilica of Saint Denis)'는 프랑스 왕실 묘지로 알려져 있습니다.<br/><br/>
                                파리는 또한 다양한 레스토랑, 카페, 베이커리로 유명하며, 프랑스 요리와 디저트를 즐길 수 있는 최적의 장소 중 하나입니다. 파리는 예술과 문화를 사랑하는
                                이들에게는 미술, 연극, 음악, 패션 등 다양한 문화 행사와 활동을 제공하는 도시로도 유명합니다.

                            </p>
                            <div class="blueScreen2"></div>
                            <img src="/css/mainCountry/France/paris.jfif">
                        </div>
                        <div class="tab1-img4"><h2>마르세유</h2>
                            <p>
                                마르세유(Marseille)는 프랑스의 도시로, 지중해 연안에 위치한 큰 항구 도시입니다. 이 도시는 프랑스의 두 번째로 큰 도시로서 역사적으로 중요한 역할을
                                해왔으며, 아름다운 해안선과 다양한 문화적 특성으로 유명합니다.<br/><br/>

                                마르세유는 다양한 역사적인 건축물과 관광 명소를 가지고 있습니다. '노트르담 드 라 가르드 대성당(Notre-Dame de la Garde
                                Cathedral)'은 마르세유의 랜드마크로, 도시를 내려다보는 고지에 자리하고 있으며, 아름다운 전망을 제공합니다.<br/><br/>

                                마르세유는 다양한 문화와 요리의 조합으로도 유명합니다. 마르세유는 다양한 문화적 영향을 받은 다양한 음식을 제공하는 다국적 도시로서, 아프리카, 중동, 지중해
                                지역의 맛을 즐길 수 있는 레스토랑과 시장이 있습니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/France/marceu.avif">
                        </div>
                        <div class="tab1-img5"><h2>모나코</h2>
                            <p>

                                모나코(Monaco)는 프랑스 남동쪽에 위치한 소도시 국가로, 프랑스 리비에라 지역에 인접한 지중해 연안의 작은 국가입니다. 이 소도시 국가는 그 작은
                                면적에도 불구하고, 럭셔리와 카지노로 유명하며 국제적인 고급 생활 스타일을 즐기는 사람들에게 인기가 있습니다.<br/><br/>

                                모나코는 카지노 로얄(Casino Royale)과 함께 세계적으로 유명한 명소 중 하나입니다. 이 카지노는 제임스 본드 시리즈의 영화 "007 카지노 로얄"에
                                등장한 곳으로, 고급스러운 게임과 엔터테인먼트를 제공합니다.<br/><br/>

                                또한 모나코는 풍부한 문화와 역사적인 관광 명소를 제공합니다. '모나코 왕궁(The Prince's Palace of Monaco)'은 그릴 고고학적 유적과
                                함께 국왕과 국왕 가문의 고향으로, 관광객에게 역사와 아름다운 전망을 제공합니다. '모나코 카톨릭 대성당(Cathedral of Our Lady
                                Immaculate)'은 고딕 양식의 아름다운 성당으로, 그릴리, 부속 교회와 함께 관광 명소입니다.<br/><br/>

                                또한 모나코는 모나코 그랑 프릭스(Race of Monaco Grand Prix)로 유명한 F1 모나코 그랑 프리(F1 Monaco Grand Prix)를
                                개최하며, 이는 세계에서 가장 강렬한 모터 레이싱 대회 중 하나로 여겨집니다.<br/><br/>

                                모나코는 럭셔리 브랜드의 상점, 고급 레스토랑, 풀 사이드 칵테일 바로 가득한 곳으로, 세계적으로 유명한 아티스트와 연예인들이 자주 방문하는 휴양지입니다.
                                지중해 연안의 아름다운 해변과 아쿠아스포츠도 즐길 수 있으며, 프랑스 리비에라와 인접해 있어 유럽의 다른 명소로 여행하기 편리한 출발점이기도 합니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/France/monaco.jpg">
                        </div>
                    </div>
                    <div id="tab3" class="tabcontent">
                        <div class="tab1-img1"><h2>쿄토</h2>
                            <p>
                                쿄토(Kyoto)는 일본의 중부에 위치한 역사적으로 중요한 도시로, 일본의 고전적인 문화와 역사의 중심지 중 하나입니다. 쿄토는 일본의 옛 수도로 알려져
                                있으며, 자연의 아름다움과 아름다운 신사, 절, 정원 등으로 유명합니다.<br/><br/>

                                쿄토의 주요 관광 명소 중 하나는 '키오토의 황금궁(金閣寺, Kinkaku-ji)'로, 금으로 덮인 아름다운 건물로 유명합니다. 또한 '기온의
                                의식(祇園祭, Gion Matsuri)'과 같은 전통적인 일본 축제가 열리며, 이때에는 아름다운 화려한 한복을 입은 기술과 예술을 뽐내는 공연을 즐길 수
                                있습니다.<br/><br/>

                                또한 쿄토는 다양한 신사와 절로 가득하며, 그 중에서도 '키오토의 후시미 인(伏見稲荷大社, Fushimi Inari Taisha)'는 천개의 홍단
                                토리(gates)로 유명합니다. 이 신사는 호수와 아름다운 정원도 있는 '히라노 신사(Hirano Shrine)'와 같은 다른 신사와 절도 있습니다.<br/><br/>

                                쿄토는 일본 전통 차 문화의 중심지로도 알려져 있으며, 다양한 차 전문점에서 일본 차를 즐길 수 있습니다. 또한 쿄토의 아름다운 정원과 관광 명소는 사계절마다
                                다양한 아름다움을 선사합니다. 쿄토는 일본 역사와 문화를 경험하고자 하는 여행객에게 매력적인 목적지 중 하나입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Japan/kyoto.webp">
                        </div>
                        <div class="tab1-center">
                            <div class="tab1-start">
                                <div class="tab1-start-box">
                                    <h1>PLAN ITINERARY</h1>
                                    <P>PLANIT과 함께 당신만의 여행일정을<br/> 계획해보세요!</P>
                                    <div class="start-btn"><a class="start-plan-btn" th:href="@{/plan/list}">START
                                        PLAN</a></div>
                                </div>
                            </div>
                            <div class="tab1-img2"><h2>후쿠오카</h2>
                                <p>
                                    후쿠오카(Fukuoka)는 일본의 지역 이름으로, 일본의 주요 섬인 큐슈(Kyushu)에 위치한 중요한 도시입니다. 후쿠오카는 일본의 역사와 문화,
                                    먹거리 등으로 유명한 도시 중 하나입니다.<br/><br/>

                                    후쿠오카는 현대적인 도시와 역사적인 명소가 공존하는 도시로, '아카무 박물관(Akamatsu Museum)'과 '후쿠오카 성(Fukuoka
                                    Castle)'과 같은 역사적인 건축물과 박물관을 갖고 있습니다. 도심 지역에는 높은 건물, 쇼핑몰, 레스토랑 등이 있어 현대적인 도시 생활을 즐길 수
                                    있습니다.<br/><br/>
                                </p>
                                <div class="blueScreen2"></div>
                                <img src="/css/mainCountry/Japan/fukuoka.jpg">
                            </div>
                        </div>
                        <div class="tab1-img3"><h2>삿포로</h2>
                            <p>
                                삿포로(Sapporo)는 일본의 홋카이도(Hokkaido) 지역에 위치한 도시로, 홋카이도의 수도이자 최대 도시입니다. 삿포로는 현대적인 도시와 아름다운 자연
                                경관이 조화를 이루며, 다양한 관광 명소와 먹거리로 유명합니다.
                                <br/><br/>
                                삿포로는 매력적인 공원과 정원으로 가득한 도시로, '모에레 국립공원(Moerenuma Park)'과 '마루야마 공원(Maruyama Park)'과 같은
                                공원에서 산책과 피크닉을 즐길 수 있습니다. 특히 '오도리 공원(Odori Park)'은 도심에 있는 아름다운 녹지로, 매년 2월에 개최되는 삿포로
                                눈축제(Sapporo Snow Festival)가 열리는 장소로 유명합니다.
                                <br/><br/>
                                삿포로는 국제적인 공항인 '신치토세 공항(New Chitose Airport)'을 보유하고 있어, 홋카이도 지역으로의 여행을 시작하는 중요한 출발점이기도
                                합니다. 자연과 도시의 조화로운 경험을 원하는 여행객에게는 삿포로가 훌륭한 목적지 중 하나입니다.
                            </p>
                            <div class="blueScreen2"></div>
                            <img src="/css/mainCountry/Japan/satporo.avif">
                        </div>
                        <div class="tab1-img4"><h2>오사카</h2>
                            <p>
                                오사카(Osaka)는 일본의 중부에 위치한 도시로, 일본 제2의 도시로 알려져 있습니다. 오사카는 현대적인 도시와 역사적인 명소, 그리고 맛있는 음식으로
                                유명하며, 일본을 여행하는 많은 여행객들이 방문하는 인기 도시 중 하나입니다.
                                <br/><br/>
                                오사카의 주요 관광 명소 중 하나는 '오사카성(Osaka Castle)'입니다. 이 건물은 16세기에 건립된 일본의 역사적인 성으로, 아름다운 정원과 전망대가
                                있는 것으로 유명합니다. 또한 '도톰보리(Dotonbori)' 지역은 오사카의 대표적인 번화가로, 빛나는 광고판과 다양한 레스토랑, 상점이 있는 곳입니다.
                                '도톰보리 가쿠타쿠'는 유명한 거리 음식으로, 오사카에서 맛볼 수 있는 대표적인 음식 중 하나입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Japan/osaka.jpg">
                        </div>
                        <div class="tab1-img5"><h2>도쿄</h2>
                            <p>
                                도쿄(Tokyo)는 일본의 수도이자 최대 도시로, 아시아에서 가장 인구가 많은 도시 중 하나입니다. 도쿄는 현대적인 건축물과 역사적인 명소, 다채로운 문화와
                                엔터테인먼트로 가득한 도시로, 세계적인 관광지 중 하나로 손꼽힙니다.
                                <br/><br/>
                                도쿄는 다양한 지역과 관광 명소로 나뉩니다. '아키하바라(Akihabara)'는 일본의 전자 제품과 만화, 애니메이션 관련 상품으로 가득한 거리로, 일본의
                                서브컬처를 경험할 수 있는 장소입니다. '시부야(Shibuya)'는 유명한 크로스워크와 상점가, 음식점으로 유명하며, 도쿄의 활기찬 도심을 체험할 수
                                있습니다.
                                <br/><br/>
                                도쿄는 또한 역사적인 명소로 가득하며, '아사쿠사(Temple Senso-ji)'와 같은 절과 '에도 동물원(Edo Tokyo Museum)'과 같은 박물관은
                                일본의 역사와 문화를 탐험할 수 있는 장소입니다. '도쿄 타워(Tokyo Tower)'는 도시의 랜드마크 중 하나로, 도시의 아름다운 전망을 즐길 수 있는
                                곳입니다.
                                <br/><br/>
                                음식 문화도 풍부한 도쿄에서는 일본 요리뿐만 아니라 전 세계의 다양한 음식을 즐길 수 있습니다. '츠키파시 주방쇼(Tsukiji Fish Market)'에서는
                                신선한 해산물을 즐길 수 있으며, '오모테산도(Omotenashi)' 문화로 유명한 일본에서 다양한 레스토랑과 요리를 맛볼 수 있습니다.
                                <br/><br/>
                                도쿄는 국제적인 교통 허브이며, '도쿄 디즈니 랜드(Tokyo Disney Resort)'와 같은 테마 파크와 근교의 관광 명소도 풍부합니다. 문화와 역사,
                                엔터테인먼트를 즐기고자 하는 여행자에게는 꼭 방문해야 할 도시 중 하나입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Japan/tokyotower.jpg">
                        </div>
                    </div>
                    <div id="tab4" class="tabcontent">
                        <div class="tab1-img1"><h2>발렌시아</h2>
                            <p>
                                발렌시아(Valencia)는 스페인 동부에 위치한 중요한 도시로, 발렌시아 지방의 수도이자 스페인의 세 번째로 큰 도시입니다. 발렌시아는 아름다운 해안선과
                                역사적인 명소, 다양한 문화 이벤트로 유명하며, 특히 발렌시아 지방의 주도로서 중요한 역할을 합니다.
                                <br/><br/>
                                발렌시아는 지중해 연안에 자리하고 있으며, 아름다운 해변과 해안 지역이 특징입니다. '말바로사 해변(Malvarrosa Beach)'과 '라 스파냐 해변(La
                                Malvarrosa Beach)'은 발렌시아 시내에서 해수욕을 즐길 수 있는 인기 명소 중 하나입니다.
                                <br/><br/>
                                도심 지역에서는 '세네트 광장(Plaza de la Virgen)'과 '시대 건축물(Ciudad de las Artes y las Ciencias)'과 같은
                                아름다운 명소를 찾을 수 있습니다. '세네트 광장'은 중세 건축물과 성당, 시계탑으로 둘러싸인 아름다운 광장으로, 역사적인 중심지로 여행객들에게 인기가
                                있습니다. '시대 건축물'은 현대적이고 고전적인 디자인이 어우러진 복합 문화 공간으로, 공연장, 과학 박물관, 예술 전시장 등이 있는 중요한 문화
                                복합체입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Spain/ballencia.jpg">
                        </div>
                        <div class="tab1-center">
                            <div class="tab1-start">
                                <div class="tab1-start-box">
                                    <h1>PLAN ITINERARY</h1>
                                    <P>PLANIT과 함께 당신만의 여행일정을<br/> 계획해보세요!</P>
                                    <div class="start-btn"><a class="start-plan-btn" th:href="@{/plan/list}">START
                                        PLAN</a></div>
                                </div>
                            </div>
                            <div class="tab1-img2"><h2>바르셀로나</h2>
                                <p>
                                    바르셀로나는 스페인의 동북부에 위치한 도시로, 카탈루냐 지역의 수도이자 스페인의 두 번째로 큰 도시입니다. 바르셀로나는 아름다운 지중해 연안에 자리하고
                                    있으며, 현대적인 건축물과 역사적인 명소, 문화적인 풍부함으로 유명합니다.
                                    <br/><br/>
                                    바르셀로나의 주요 관광 명소 중 하나는 '사그라다 파밀리아' 대성당입니다. 이 아름다운 대성당은 세계적인 건축가 안토니 가우디의 작품으로, 고딕 양식과
                                    현대 양식의 조합으로 독특한 외관을 자랑합니다. '파르크 구엘' 역시 가우디의 작품 중 하나로, 독특한 동굴과 다색의 세라믹 작품으로 가득한
                                    공원입니다.
                                </p>
                                <div class="blueScreen2"></div>
                                <img src="/css/mainCountry/Spain/barcellona.webp">
                            </div>
                        </div>
                        <div class="tab1-img3"><h2>그라나다</h2>
                            <p>
                                그라나다(Granada)는 스페인의 안달루시아(Andalusia) 지방에 위치한 아름다운 도시로, 역사적인 명소와 아름다운 자연 경치로 유명합니다. 그라나다는
                                모로(Moorish) 문화와 스페인의 역사적인 유산을 고스란히 간직하고 있는 도시 중 하나로 꼽힙니다.
                                <br/><br/>
                                그라나다의 가장 유명한 명소 중 하나는 '알함브라 궁전(Alhambra Palace)'입니다. 이 궁전은 13세기에 모로 왕국에서 건축된 것으로, 아름다운
                                정원, 수수꽃의 세라믹 타일, 세계적으로 유명한 네스린 궁전(Nasrid Palaces)으로 구성되어 있습니다. 알함브라 궁전은 스페인의 국립 기념물로
                                지정되어 있으며, 세계적인 관광 명소 중 하나로 여겨집니다.
                                <br/><br/>
                                또한 '한발란베라(Halambra)'와 '제네랄리프(Generalife)'와 같은 궁전 주변의 정원과 정원으로도 유명합니다. 이곳에서는 아름다운 정원을
                                둘러보며 그라나다의 아름다운 경치를 즐길 수 있습니다.
                            </p>
                            <div class="blueScreen2"></div>
                            <img src="/css/mainCountry/Spain/granada.jpg">
                        </div>
                        <div class="tab1-img4"><h2>마드리드</h2>
                            <p>
                                마드리드(Madrid)는 스페인의 수도이자 최대 도시로, 아름다운 건축물, 예술과 문화, 다양한 레스토랑, 역사적인 명소로 가득한 도시입니다. 마드리드는
                                스페인의 중심지로서 국내외 관광객들에게 많은 매력을 제공합니다.
                                <br/><br/>
                                마드리드의 중심부에 위치한 '소란나(Solana)' 광장은 도시의 중심이자 많은 상점과 카페, 레스토랑이 모여 있는 곳으로, 쇼핑과 먹거리 즐기기에 좋은
                                장소입니다. 광장에서는 '오도르 궁전(Palacio Real)'과 '로얄 궁전 기도당(Royal Chapel of the Royal Palace)'을 방문할
                                수 있으며, 이 궁전은 스페인 왕실의 공식 거주지로 사용되며 근사한 아트와 장식으로 가득한 곳입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Spain/madrid.webp">
                        </div>
                        <div class="tab1-img5"><h2>세비야</h2>
                            <p>
                                세비야(Seville)는 스페인의 안달루시아(Andalusia) 지방에 위치한 아름다운 도시로, 역사적인 명소, 문화적인 이벤트, 아름다운 건축물로 가득한
                                도시입니다. 세비야는 안달루시아 지방의 수도로, 스페인에서 가장 아름다운 도시 중 하나로 여겨집니다.
                                <br/><br/>
                                세비야의 가장 유명한 명소 중 하나는 '세비야 대성당(Seville Cathedral)'입니다. 이 대성당은 세계에서 가장 큰 고딕 양식의 성당 중 하나로,
                                크리스토퍼 콜럼버스의 무덤이 있는 곳으로도 유명합니다. 대성당은 아름다운 기독교 예술과 건축물로 가득 차 있으며, '히랄다의 종(Giralda)'라는 종탑은
                                세비야의 상징 중 하나입니다.
                                <br/><br/>
                                또한 '알카사르 궁전(Alcázar of Seville)'은 세비야의 또 다른 아름다운 명소로, 모로 문화와 기독교 문화의 조화로운 건축물입니다. 이 궁전은
                                아름다운 정원과 절로도 유명하며, '드라곤의 길'이라는 다양한 정원을 탐험할 수 있습니다.
                                <br/><br/>
                                세비야는 또한 플라멩코 음악과 춤으로 유명하며, '플라멩코 축제(Feria de Abril)'와 같은 문화 이벤트는 현지 문화를 경험하기에 좋은 기회를
                                제공합니다.
                                <br/><br/>
                                도시의 음식 문화도 풍부하며, 안달루시아 지방의 전통적인 타파스와 와인을 즐길 수 있습니다. '헤르바르 시장(Mercado de Triana)'과 '플라자
                                나바르라(Plaza de Navarra)'와 같은 재래시장에서 현지 식품과 물건을 구매할 수 있습니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/Spain/seviya.avif">
                        </div>
                    </div>
                    <div id="tab5" class="tabcontent">
                        <div class="tab1-img1"><h2>뉴욕</h2>
                            <p>
                                뉴욕(New York)은 미국의 동북부에 위치한 주요 도시로, 세계적으로 유명한 도시 중 하나입니다. 뉴욕은 다양한 문화, 역사적인 명소, 아이콘적인 건축물,
                                예술과 엔터테인먼트, 다양한 레스토랑으로 가득한 도시로, 다양한 경험을 제공합니다.
                                <br/><br/>
                                뉴욕에서 가장 유명한 명소 중 하나는 '자유의 여신상(Statue of Liberty)'입니다. 이 아이콘적인 조각상은 프랑스에서 선물로 주어져 뉴욕 항구
                                입구에 위치하고 있으며, 미국의 자유와 독립을 상징합니다.
                                <br/><br/>
                                도시의 중심부에 위치한 '타임스 스퀘어(Times Square)'는 현대적이고 활기찬 도심 지역으로, 빛나는 광고판과 브로드웨이 공연장, 상점, 레스토랑이
                                모여 있습니다. 또한 '뉴욕 중앙 공원(Central Park)'은 도심에서 자연과 평화로운 휴식을 즐길 수 있는 큰 공원으로, 자전거 타기, 공원 콘서트
                                관람, 보트 타기 등 다양한 활동이 가능합니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/USA/newyork.webp">
                        </div>
                        <div class="tab1-center">
                            <div class="tab1-start">
                                <div class="tab1-start-box">
                                    <h1>PLAN ITINERARY</h1>
                                    <P>PLANIT과 함께 당신만의 여행일정을<br/> 계획해보세요!</P>
                                    <div class="start-btn"><a class="start-plan-btn" th:href="@{/plan/list}">START
                                        PLAN</a></div>
                                </div>
                            </div>
                            <div class="tab1-img2"><h2>라스베가스</h2>
                                <p>
                                    라스 베가스(Las Vegas)는 미국 내버다(Nevada) 주에 있는 도시로, 주로 카지노, 호텔, 쇼, 레스토랑, 엔터테인먼트로 유명한 도시입니다.
                                    이곳은 세계적인 도박과 엔터테인먼트 중심지로, 밤에 빛나는 스트립(The Strip)이라 불리는 대도시 지역이 유명합니다.
                                    <br/><br/>
                                    관광객들은 다양한 카지노 게임을 즐기고, 고급 호텔에서 편안한 숙박을 즐기며, 세계적인 쇼와 콘서트를 감상할 수 있습니다. 라스 베가스는 빈대떡처럼
                                    화려한 조명과 엔터테인먼트로 유명하며, 많은 이들이 오붓한 즐거움을 찾기 위해 방문합니다.
                                </p>
                                <div class="blueScreen2"></div>
                                <img src="/css/mainCountry/USA/lasbegas.jpg">
                            </div>
                        </div>
                        <div class="tab1-img3"><h2>시카고</h2>
                            <p>
                                시카고(Chicago)는 미국의 일리노이(Illinois) 주에 위치한 큰 도시로, 미국 중서부에 있는 주요 도시 중 하나입니다. 시카고는 대도시로서의 풍부한
                                역사와 문화, 아름다운 건축물, 예술과 음악, 다양한 레스토랑으로 유명합니다.
                                <br/><br/>
                                시카고의 아이콘 중 하나는 '윌리스 타워(Willis Tower)'로, 이전에는 시어즈 타워(Sears Tower)로도 불리던 이 건물은 미국에서 가장 높은
                                건물 중 하나로, 스카이덱(Skydeck)이라는 관람 대행창을 통해 103층까지 올라가 볼 수 있으며, 시카고와 호수 미시간(Lake Michigan)을
                                조망할 수 있습니다.
                                <br/><br/>
                                시카고는 예술과 문화의 중심으로 '아트 인스티튜트 오브 시카고(Art Institute of Chicago)'와 같은 세계적인 박물관과 '밀레니엄
                                파크(Millennium Park)'과 같은 공원이 풍부합니다. 밀레니엄 파크에는 유명한 '클라우드 게이트(Cloud Gate)' 조각상과 여름에는 무료 음악
                                콘서트가 열리며 많은 이들에게 인기가 있습니다.
                            </p>
                            <div class="blueScreen2"></div>
                            <img src="/css/mainCountry/USA/chicago.jpg">
                        </div>
                        <div class="tab1-img4"><h2>산디에고</h2>
                            <p>
                                산디에고(San Diego)는 미국 캘리포니아주에 위치한 도시로, 태평양 연안에 있는 아름다운 도시 중 하나입니다. 산디에고는 따뜻한 기후, 아름다운 해변,
                                문화적 다양성, 역사적인 명소, 엔터테인먼트로 가득한 도시로, 많은 관광객들이 찾는 인기 있는 여행지 중 하나입니다.
                                <br/><br/>
                                산디에고는 '미션 비치'와 '파시픽 비치'와 같은 아름다운 해변으로 유명합니다. '라 호야 산업 센터'는 해안 경치가 아름다운 지역 중 하나로, 해양 생물을
                                감상하고 스노클링을 할 수 있는 인기 있는 장소입니다.
                                <br/><br/>
                                도시 내에서는 '산디에고 동물원'과 '산디에고 해양 센터'와 같은 유명한 동물원과 해양 공원을 방문할 수 있습니다. 또한 '올드 타운'과 '가스램프 쿼터'와
                                같은 역사적인 지구도 탐험할 가치가 있으며, 다양한 레스토랑, 상점, 예술 갤러리 등이 모여 있습니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/USA/sandiego.webp">
                        </div>
                        <div class="tab1-img5"><h2>샌프란시스코</h2>
                            <p>
                                샌프란시스코(San Francisco)는 미국 캘리포니아(California) 주 북부에 위치한 도시로, 글렌 카니온(Glen Canyon)과 태평양 사이에
                                위치하여 아름다운 자연 경관과 독특한 문화로 유명합니다.
                                <br/><br/>
                                글렌 카니온: 샌프란시스코는 아름다운 자연 경관으로 둘러싸여 있으며, 글렌 카니온과 같은 자연 보호구역은 하이킹, 자전거 타기, 피크닉 등 야외 활동을
                                즐기기에 좋은 장소입니다.
                                <br/><br/>
                                금문교(Golden Gate Bridge): 세계에서 가장 아름다운 다리 중 하나로 알려진 금문교는 샌프란시스코의 상징 중 하나입니다. 다리를 건너는 동안
                                멋진 전망을 감상할 수 있으며, 다리 주변에는 해변과 산책로가 있습니다.
                                <br/><br/>
                                알카트라즈 섬(Alcatraz Island): 이 섬은 과거에 연방 감옥으로 사용되었으며, 현재는 박물관으로 개방되어 있습니다. 관광객들은 이 섬을 방문하여
                                역사를 배우고 유명한 감옥 셀을 볼 수 있습니다.
                                <br/><br/>
                                피어 39(Pier 39): 샌프란시스코의 워터프론트 지역 중 하나로, 다양한 상점, 레스토랑, 엔터테인먼트 시설이 모여 있습니다. 또한 해안가에서는 야생
                                해마를 감상할 수 있는 장소로 유명합니다.
                                <br/><br/>
                                골든 게이트 공원(Golden Gate Park): 이 큰 도시 공원은 꽃과 식물, 동물원, 박물관 등 다양한 활동을 즐길 수 있는 장소로, 샌프란시스코
                                시민과 관광객 모두에게 인기가 있습니다.
                                <br/><br/>
                                샌프란시스코 타워(San Francisco Tower): 도시의 중심부에서 손쉽게 볼 수 있는 이 타워는 시카고의 윌리스 타워와 같이 도시의 아이콘 중
                                하나입니다. 타워에서는 도시의 아름다운 경치를 감상할 수 있습니다.
                                <br/><br/>
                                샌프란시스코는 문화적으로 다양하며, 예술, 음악, 요리, 혁신적인 기술 분야에서도 유명합니다. 또한 다양한 문화 이벤트와 축제가 매년 열리며, 특히
                                '샌프란시스코 국제 영화제(San Francisco International Film Festival)'와 같은 영화와 예술을 축하하는 행사가 인기가
                                있습니다. 샌프란시스코는 미국 서부를 대표하는 도시 중 하나로, 다양한 경험과 활동을 즐기고자 하는 여행객에게 매력적인 목적지입니다.
                            </p>
                            <div class="blueScreen"></div>
                            <img src="/css/mainCountry/USA/sanprancisco.jfif">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="greyBox1"></div>
        <div class="greyBox2"></div>

        <div class="blueStick1"></div>

    </div>


    <div class="recommendSection">
        <div id="recommendSection"></div>
        <div class="recommend-title">
            <h1>여행계획 세우기가 힘드신가요?<br/>프로여행러들의 여행계획을 참고해보세요!</h1>
        </div>


        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="img"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img"></div>
                </div>
            </div>

        </div>

        <div class="swiper-back">  <p>Add expert travel plans to your plans</p></div>
    </div>

    <div class="bottom-back">
        <div class="bottom-content">
            <div class="bottom-title">
                <h2>준비중인 여행자들의 플래너</h2>
            </div>
            <div class="card-box">
                <div class="card-list" th:each="item : ${findTop4RecentPlanners}">
                    <div class="card">
                        <img th:src="@{|/preview/${item.planId}.png|}" onerror="this.src='/preview/map_basic.png'"/>
                        <div style="width: 300px; height: 33px;">
                            <div th:text="|${item.startDate} 출발|"
                                 style="float:left; margin-left:50px; margin-top:5px; font-size:12px; font-family:'Noto sans KR', sans-serif;" ></div>
                            <div th:text="|${item.endDate} 도착|"
                                 style="float:left; margin-left:15px; margin-top:5px; font-size:12px; font-family:'Noto sans KR', sans-serif;"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="aboutSection"></div>
            <div class="about">
                <h2 class="about-title">About</h2>
                <h2 class="about-rkcl">우리가 추구하는 가치</h2>
                <h2 class="about-social">소셜 미디어</h2>
                <h2 class="about-info">Info</h2>
                <p class="about-left">
                    Planit은 고객들에게 탁월한 여행 경험을 제공하기 위해 끊임없이 노력하고 있습니다.<br/><br/> 우리는 다양한 여행계획을 짜는데 있어 귀찮음이라는 요소를 최대한 줄이는
                    것을 추구하고 있으며,<br/><br/> 고객들의 요구와 기대를 항상 초과하는 것을 목표로 삼고 있습니다. Planit은 여행을 좋아하는<br/><br/> 모든 분들을 위해 여행을
                    더욱 편리하고 흥미로운 경험으로 바꾸기 위해 노력하고 있습니다.
                    <br/><br/>
                    Planit은 여행 예약, 호텔 및 숙박시설 검색, 관광 명소 및 활동 추천, <br/><br/> 여행 팁 및 정보 등 다양한 서비스를 제공합니다.
                    <br/><br/>
                    Planit과 함께 여행을 새롭게 경험하고, 세상을 더 많이 탐험하세요!
                </p>

                <p class="about-center2">
                    편리성
                    <br/><br/>Planit은 여행객들을 위한 쉽고 편리한 여행 계획 도구를 제공합니다. <br/><br/>우리의 웹사이트는 간단하게 여행을 계획하고 예약할 수 있도록
                    설계되었습니다.
                    <br/><br/><br/>
                    신뢰성
                    <br/><br/>우리는 고품질의 여행 정보와 추천을 제공하며, 고객의 신뢰를 최우선으로 생각합니다.
                    <br/><br/><br/>
                    다양성
                    <br/><br/>여행은 모두를 위한 것이며, Planit은 모든 여행객들을 위한 다양한 <br/><br/> 여행 옵션을 제공합니다. 어떤 스타일의 여행이든 우리와 함께할 수
                    있습니다.
                    <br/><br/><br/>

                </p>
                <p class="about-center">

                    Facebook
                    <br/><br/>
                    Instagram
                    <br/><br/>
                    Twitter
                </p>
                <p class="about-right">
                    회사명 : Planit
                    <br/><br/>
                    본사 주소:
                    1234 Planit Street, Travelville, 여행국
                    <br/><br/>
                    전화번호 : +123-456-7890
                    <br/><br/>
                    이메일 주소 : lhu9460@naver.com
                    <br/><br/>
                    사업 등록 번호 : ABC123456
                    <br/><br/>
                    제작자 : 김수빈, 이형욱, 정회창, 조중현, 천재환
                </p>
            </div>

        </div>
        <div class="opacity-back"></div>
    </div>


    <div class="bg-blue"></div>
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg-black"></div>
    <div class="bg4"></div>
    <!-- <div class="bg5"></div>
     <div class="bg6"></div>-->


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>

    $(document).ready(function() {

       // 출발 날짜 선택
       $('#departureDate').daterangepicker({
           "singleDatePicker": true,  // 단일 날짜 선택
           "showDropdowns": false,     // 월/연도 드롭다운 보이기
           "locale": {
               "format": "YYYY-MM-DD",

               "weekLabel": "W",
               "daysOfWeek": ["S", "M", "T", "W", "T", "F", "S"],
               "monthNames": ["1 /", "2 /", "3 /", "4 /", "5 /", "6 /", "7 /", "8 /", "9 /", "10 /", "11 /", "12 /"],
               "firstDay": 0
           }
       });
 });

$(document).ready(function() {
       // 도착 날짜 선택
       $('#arrivalDate').daterangepicker({
           "singleDatePicker": true,  // 단일 날짜 선택
           "showDropdowns": false,     // 월/연도 드롭다운 보이기
           "locale": {
               "format": "YYYY-MM-DD",

               "weekLabel": "W",
               "daysOfWeek": ["S", "M", "T", "W", "T", "F", "S"],
               "monthNames": ["1 /", "2 /", "3 /", "4 /", "5 /", "6 /", "7 /", "8 /", "9 /", "10 /", "11 /", "12 /"],
               "firstDay": 0
           }
       });
 });




let tabs = document.querySelectorAll('.tab-list li');
let contents = document.querySelectorAll('.tabcontent');

tabs.forEach(tab => {
    tab.addEventListener('click', function() {
        let currentTab = this.getAttribute('data-tab');

        tabs.forEach(tab => {
            tab.classList.remove('active');
        });

        contents.forEach(content => {
            content.classList.remove('active');
        });

        this.classList.add('active');
        document.getElementById(currentTab).classList.add('active');
    });
});




    var swiper = new Swiper( '.swiper-container', {
        //pagination: '.swiper-pagination',
        //paginationClickable: true,
        autoplay:2000,
        spaceBetween: -1400,
        speed : 1000,
        effect: 'coverflow',
        loop: false,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 0,
            stretch: 100,
            depth: 150,
            modifier: 1.5,
            slideShadows : false,

        },
        // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    }
    } );


    $(document).on('mouseenter', '.swiper-container', function(e){
        console.log('stop autoplay');
        swiper.stopAutoplay();
    });
    $(document).on('mouseleave', '.swiper-container', function(e){
        console.log('start autoplay');
        swiper.startAutoplay();
    });


// 제출 버튼을 눌렀을 때의 동작을 정의합니다.
document.querySelector('.submit-btn').addEventListener('click', function() {
    // 로딩 div를 활성화합니다.
    document.querySelector('.loading').style.display = 'block';
  // 여기에 실제로 서버로 요청을 보내고 응답을 처리하는 코드를 작성하세요.
    // 페이지가 전환됩니다.
});

// 페이지 로드가 완료되었을 때 로딩 div를 숨깁니다.
window.addEventListener('load', function() {
    // 로딩 div를 숨깁니다.
    document.querySelector('.loading').style.display = 'none';
});




</script>
</body>

</html>
