<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/notice_Form.css">
</head>
<body>
<div class="background"></div>
<div class="background2"></div>

<div class="container">
    <div class="nav">
        <ul class="" style="list-style-type:none;">
            <li class="">
                <a class="logo" th:href="@{/}"><img src="/img/logo.png" style="float: left; width: 63px; height: 58px; margin-left: 10px; background-repeat: no-repeat;"></a>
                <div class="nav-left"
                     style="float:left;   margin-left: 440px; margin-top: 19px;  font-size: 20px;  font-family: 'Roboto', sans-serif; font-weight: 500;">
                    <a class="" th:href="@{/flightResult}"
                       style="margin-right: 50px; color:#4F54B4;">AIRPORT</a>
                    <a class="" th:href="@{/plan/add}"
                       style="margin-right: 50px; color:#4F54B4;">START PLAN</a>
                    <a class="" th:href="@{/touristAttraction/list}"
                       style="margin-right: 50px; color:#4F54B4;">ATTRACTIONS</a>
                    <a class="" th:href="@{/plan/list}"
                       style="color:#4F54B4;">PLAN LIST</a>
                </div>

                <div class="nav-right"
                     style="float:right;    margin-right: 35px; margin-top: 27px;  font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 600;">
                    <a class="" th:href="@{/notice/list}"
                       style="margin-right: 20px; color:#4F54B4;">공지사항</a>
                    <a class="" th:href="@{/question/list}"
                       style="margin-right: 20px; color:#4F54B4;">고객센터</a>
                    <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/login}"
                       style="margin-right: 20px; color:#4F54B4;">로그인</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/myPage}"
                       style="margin-right: 20px; color:#4F54B4;">마이페이지</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/logout}"
                       style="margin-right: 20px; color:#4F54B4;">로그아웃</a>
                    <a class="" sec:authorize="hasRole('ADMIN')" th:href="@{/user/list}"
                       style="color:#4F54B4;">ADMIN</a>
                </div>
            </li>
        </ul>



        <!-- 모바일에서 화면배율을 디바이스 크기 기준으로 설정 -->
        <!-- 이게 안되면 pc에서의 100px과 모바일에서의 100px이 디바이스 성능에 따라 달라집니다. -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- 제이쿼리 불러오기 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- 폰트어썸 불러오기 -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">

        <!-- XEIcon 폰트 불러오기 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

        <div class="bbox">
            <div class="left-side">
                <h1 class="box">공지</h1>
                <form id="noticeForm" th:action="@{/notice/add}" th:object="${noticeForm}" method="post"
                      data-aos="fade" enctype="multipart/form-data">

                    <div th:if="${id}">
                        <input type="hidden" th:value="${id}" name="noticeId"/>
                    </div>

                    <div class="inquiry-con">

                        <div class="label-box">
                            <label>
                                <div for="subject" class="title"></div>
                                <input class="input-content" type="text" th:field="*{subject}" placeholder="제목을 입력해주세요">
                            </label>
                        </div>

                        <div class="label-box">
                            <label>
                                <div for="content" class="title"></div>
                                <textarea class="textarea-content" name="content" th:field="*{content}"
                                          placeholder=""></textarea>
                            </label>
                        </div>

                        <div class="label-box">
                            <label>
                                <div class="uploadTitle">파일첨부</div>
                                <input type="file" id="imageUpload" name="imageFile"/>
                                <button id="cancelUpload">취소</button>
                            </label>
                        </div>

                        <input class="btn" type="submit" name="submit" value="작성완료">
                    </div>
                </form>
            </div>
        </div>



        <div class="vertical-line"></div>
        <div class="right-side">
            <img id="imagePreview" class="tab1-img1" style="display: none;"/>

            <div th:unless="${originImage == null}">
                <img id="originImage" class="tab1-img1"  th:src="${originImage}"/>
            </div>

            <div id="tab1-img1" class="tab1-img1" th:if="${originImage == null}"><h3>보르도</h3>
                <p>보르도(Bordeaux)는 프랑스의 남서 지역에 위치한 도시로, 와인으로 유명한 지역으로 알려져 있습니다. 이 지역은 브루고드(Bordeaux) 지방 와인을
                    생산하는 중심지로, 세계적으로 고품질의 와인을 생산하는 지역 중 하나로 인정받고 있습니다.<br/><br/>

                    보르도는 아름다운 강 '가론느 강(Garonne River)'의 남안에 자리하고 있으며, 그 주변에는 포도밭과 와인 양조장이 넓게 펼쳐져 있습니다. 이곳은
                    와인 애호가들과 소비자들을 위한 와인 투어와 시음 행사가 열리는 곳으로, 다양한 와이너리에서는 다양한 종류의 와인을 생산하고 있습니다.<br/><br/>

                    또한 보르도는 그림과 조각 작품 등 예술적인 유산으로도 유명합니다. 보르도 시내에는 아름다운 건축물과 역사적인 건물이 많이 있으며, 가로수가 있는 광장과
                    아름다운 도보 구역으로 특히 유명합니다. '피터 슈웨틔 플레이스(Place Pey Berland)'와 '보르도 대성당(Bordeaux Cathedral)'은
                    그 중에서도 눈에 띄는 관광 명소 중 하나입니다.<br/><br/>
                    마지막으로, 보르도 주변에는 아키타니아(Aquitaine) 지역의 해변과 해안도 있어 휴양지로도 인기가 있습니다. 보르도는 와인과 예술, 아름다운 풍경을
                    즐기며 프랑스 남서부를 탐험하고자 하는 여행객에게 매력적인 목적지 중 하나입니다.
                </p>
                <div class="blueScreen"></div>
                <img src="/css/mainCountry/France/bordeaux.webp">
            </div>
        </div>

    </div>
</div>

<script>

    document.getElementById("imageUpload").onchange = function () {
        const file = this.files[0]; // 이미지 파일을 가져옵니다.

        if (file) {
            const reader = new FileReader();

            reader.onload = function(e) {
                const originView = document.getElementById('originImage');
                const preview = document.getElementById('imagePreview');
                const previewText = document.getElementById('tab1-img1'); // 해당 코드 추가
                console.log(previewText);
                preview.src = e.target.result;
                preview.style.display = 'block';    // 이미지를 보이게 합니다.
                if(originView){
                   originView.style.display = 'none';
                }

                previewText.style.display = "none"; // 텍스트를 숨깁니다. 이 코드 추가
            };

            reader.readAsDataURL(file);
        }
    };

document.getElementById("cancelUpload").addEventListener("click", function (event) {


    document.getElementById("imageUpload").value = null;
    // 이미지 미리보기 숨기기
    document.getElementById("imagePreview").style.display = "none";
    var tab1Img1 = document.getElementById("tab1-img1");

    // 텍스트 표시
    if (tab1Img1) {
        tab1Img1.style.display = "block";
    }

    var origin = document.getElementById("originImage");

    if (origin) {
      origin.style.display = "block"; // 이미지를 보이도록 설정

    }

    // 폼 제출 막기
    event.stopPropagation();

    event.preventDefault();
});

</script>
</body>
</html>